# Django #
*.log
*.pot
*.pyc
__pycache__
db.sqlite3
media
*.zip
# Environments 
.venv 
venv/ 
ENV/ 
env.bak/ 
venv.bak/ 
venv/


# mypy 
.mypy_cache/ 

# Visual Studio Code # 
.vscode/* 
!.vscode/settings.json 
!.vscode/tasks.json 
!.vscode/launch.json 
!.vscode/extensions.json 
.history

frontend/__pycache__/*


# Ignore sensitive files
.env
rightsolutions/settings.py
*.vscode