<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to Right Hr Solutions !</title>
</head>
<body style="margin: 0; padding: 0; font-family: Arial, sans-serif; background-color: #f4f4f4;">
    <table width="100%" cellpadding="0" cellspacing="0" style="background-color: #ffffff; max-width: 600px; margin: auto; border-radius: 8px;">
        <tr>
            <td style="padding: 20px; text-align: center; background-color: #a01e66; color: white;">
                <h1 style="margin: 0; font-size: 24px;">Welcome to Right Hr Solutions !</h1>
                <img src="https://www.righthrsolutions.org/static/assets/img/logo.svg" alt="Logo" style="margin-top: 10px; max-width: 100px;">
            </td>
        </tr>
        <tr>
            <td style="padding: 20px; text-align: center;">
                <p style="font-size: 16px; line-height: 1.5;">Hi {{ username }},</p>
                <p style="font-size: 16px; line-height: 1.5;">We’re excited to have you on board! Your account has been successfully created, and you’re all set to explore what we have to offer.</p>
                <a href="https://www.righthrsolutions.org/signin/" style="display: inline-block; padding: 10px 20px; background-color: #a01e66; color: white; text-decoration: none; border-radius: 5px; margin-top: 20px;">Log In</a>
                <p style="font-size: 16px; line-height: 1.5; margin-top: 20px;">Feel free to reach out if you have any questions. Welcome to the community!</p>
            </td>
        </tr>
        <tr>
            <td style="padding: 15px; background-color: #f1f1f1; text-align: center; font-size: 12px;">
                <p>&copy;  2024 RightHRSolutions . All rights reserved.</p>
            </td>
        </tr>
    </table>
</body>
</html>
