{% extends "base.html" %}
{% load static %}
{% block title %}Right HR Solutions – HR Solutions & Professional Services{% endblock title %}

 {% block content %}

        <section id="page_header" class="page-header d-flex align-items-center justify-center" style="background-image: url({{ page.pageBanner.url }}">
          <div class="overlay"></div>
          <div class="container">
            <div class="row d-flex align-items-center justify-center">
              <div class="col-md-5 page-header-content">
                <h1 class="page-title">{{ page.pageHeading }}</h1>
                <h5 class="text">{{ page.pageDescription|safe }}</h5>
              </div>
            </div>
            <!-- End row -->
            <!-- End container -->
        </section>
        <!-- End Page Title  -->
        <!-- About Us Section  -->
        <section id="about_us">
          <div class="container">
            <div class="row">
              <div class="col-md-12 m-auto">
                <div class="section-heading text-center">
                  <h2 class="title">About Right HR Solutions</h2>
                  <h5 class="sub-title">At Right HR Solutions, we are more than just an HR service provider. We are your dedicated partner in building, managing, and growing your workforce. With a team of seasoned HR professionals, we focus on delivering customized solutions that meet the unique needs of each client, ensuring that your business thrives with the right talent and support.</h5>
                </div>
                <div class="section-content">
                  <div class="row mb-5 g-5 align-items-center justify-center flex-md-row flex-column-reverse">
                     {% for item in content %}
            <div class="row mb-5 g-4 g-md-5 align-items-center justify-center
              {% if forloop.counter|divisibleby:2 %}flex-md-row-reverse{% else %}flex-md-row{% endif %}">

                    <div class="col-md-7">
                      <div class="hr-block">
                        <div class="hr-block-heading">
                          <h3 class="title">{{ item.contentHeading }}</h3>
                          <p class="sub-title">{{ item.contentDescription|safe }}</p>
                        </div>

                      </div>
                    </div>
                    <div class="col-md-5">
                      <img class="img-fluid img-shadow" src="{{ item.contentImage.url }}">
                      
                    </div>
                  </div>
                    {% endfor %}
<!--                  <div class="row mb-5 g-5 align-items-center justify-center">-->
<!--                    <div class="col-md-5">-->
<!--                      <img class="img-fluid img-shadow ratio-h" src="{% static 'assets/img/image/our-mission.png' %}">-->
<!--                    </div>-->
<!--                    <div class="col-md-7">-->
<!--                      <div class="hr-block">-->
<!--                        <div class="hr-block-heading">-->
<!--                          <h3 class="title">Our Mission</h3>-->
<!--                          <p class="sub-title">At Right HR Solutions, our mission is to create an environment where businesses and employees can thrive together. We are dedicated to:</p>-->
<!--                        </div>-->
<!--                        <div class="hr-block-content">-->
<!--                          <ul class="list">-->
<!--                            <li class="list-item">Providing personalized HR services that align with the specific goals and needs of each business.</li>-->
<!--                            <li class="list-item">Promoting diversity, inclusion, and equal opportunity within the workplace.</li>-->
<!--                            <li class="list-item">Building strong, long-lasting relationships with our clients based on trust, integrity, and mutual respect.</li>-->
<!--                          </ul>-->
<!--                        </div>-->
<!--                      </div>-->
<!--                    </div>-->
<!--                  </div>-->
<!--                  <div class="row g-5 align-items-center justify-center flex-md-row flex-column-reverse">-->
<!--                    <div class="col-md-7">-->
<!--                      <div class="hr-block">-->
<!--                        <div class="hr-block-heading">-->
<!--                          <h3 class="title">Our Vision</h3>-->
<!--                          <p class="sub-title">Our vision is to be a trusted leader in HR and professional services by consistently delivering solutions that drive growth, enhance workplace culture, and improve operational efficiency. We aim to:</p>-->
<!--                        </div>-->
<!--                        <div class="hr-block-content">-->
<!--                          <ul class="list">-->
<!--                            <li class="list-item">Help businesses build high-performing teams that align with their values and objectives.</li>-->
<!--                            <li class="list-item">Support employees' professional development and create opportunities for career advancement.</li>-->
<!--                            <li class="list-item">Simplify HR management for businesses of all sizes through tailored solutions.</li>-->
<!--                          </ul>-->
<!--                        </div>-->
<!--                      </div>-->
<!--                    </div>-->
<!--                    <div class="col-md-5">-->
<!--                      <img class="img-fluid img-shadow ratio-h" src="{% static 'assets/img/image/our-vision.png' %}">-->
<!--                      -->
<!--                    </div>-->
<!--                  </div>-->
                </div>
              </div>
            </div>
          </div>
        </section>
        <!-- End About Us Section  -->
        <!-- Why Choose Section  -->
        <section id="why_choose">
          <div class="container">
            <div class="row g-5 align-items-center justify-center">
              {% for item in why_we_choose %}
            <div class="row mb-5 g-4 g-md-5 align-items-center justify-center
              {% if forloop.counter|divisibleby:2 %}flex-md-row-reverse{% else %}flex-md-row{% endif %}">

              <div class="col-md-5">
                <img class="img-fluid img-shadow ratio-v" src="{{ item.contentImage.url }}" alt="Why Choose Right HR Solutions">

              </div>
              <div class="col-md-7">
                <div class="section-heading">
                  <h2 class="title">{{ item.contentHeading }}</h2>
                </div>
                <div class="section-content">
                  <div class="hr-list">
                    <div class="hr-list-items">
                      {% for subcontent in item.sub_contents.all %}
                      <div class="hr-list-item">
                        <div class="icon">
                          <img class="img-fluid"src="{{ subcontent.subContentImage.url }}" alt="{{ subcontent.sub_contentHeading }}">
                        </div>
                        <div class="content">
                          <h4 class="heading">{{ subcontent.sub_contentHeading }}</h4>
                          <p class="text">{{ subcontent.subContent }}</p>
                        </div>
                      </div>
<!--                      <div class="hr-list-item">-->
<!--                        <div class="icon">-->
<!--                          <img class="img-fluid"  src="{% static 'assets/img/icons/why-choose-icon-efficiency.svg' %}" alt="Efficiency & Compliance">-->
<!--                        </div>-->
<!--                        <div class="content">-->
<!--                          <h4 class="heading">Efficiency & Compliance</h4>-->
<!--                          <p class="text">Whether it's HR, fingerprinting, or notary services, we ensure everything is handled quickly and in full compliance with regulations.</p>-->
<!--                        </div>-->
<!--                      </div>-->
<!--                      <div class="hr-list-item">-->
<!--                        <div class="icon">-->
<!--                          <img class="img-fluid"  src="{% static 'assets/img/icons/why-choose-icon-customized.svg' %}" alt="Customized Solutions">-->
<!--                        </div>-->
<!--                        <div class="content">-->
<!--                          <h4 class="heading">Customized Solutions</h4>-->
<!--                          <p class="text">Every business is unique. We offer tailored solutions that align with your business needs, ensuring that you receive the highest level of service.</p>-->
<!--                        </div>-->
<!--                      </div>-->
<!--                      <div class="hr-list-item">-->
<!--                        <div class="icon">-->
<!--                          <img class="img-fluid"  src="{% static 'assets/img/icons/why-choose-icon-satisfaction.svg' %}" alt="Customer Satisfaction">-->
<!--                        </div>-->
<!--                        <div class="content">-->
<!--                          <h4 class="heading">Customer Satisfaction</h4>-->
<!--                          <p class="text">We pride ourselves on delivering high-quality service and maintaining long-term relationships with our clients. Our goal is to make your HR and legal processes stress-free.</p>-->
<!--                        </div>-->
<!--                      </div>-->
                      {% endfor %}
                    </div>
                  </div>
                </div>
              </div>
            </div>
              {% endfor %}
          </div>
        </section>
        <!-- End Why Choose Section  -->
        <!-- Get Started Section  -->
        <section id="get_started">
          <div class="container">
            <div class="row">
              <div class="col-md-12">
                <div class="get-started-block text-center">
                  <div class="section-heading">
                    <h3 class="title">Let’s Build Success Together</h3>
                    <h5 class="sub-title">At Right HR Solutions, we believe that great HR management is the foundation of any successful business. Let us be your trusted partner in navigating the complexities of HR, helping you build strong teams, maintain compliance, and achieve long-term success.</h5>
                  </div>
                  <a href="/appoinment" class="btn btn-big">Schedule a Free Consultation</a>
                </div>
              </div>
            </div>
          </div>
        </section>
        <!-- End Get Started Section  -->
      </main>
      <!-- End Main Body -->

    {% endblock content %}