{% extends "base.html" %}
{% load static %}
{% block title %}Right HR Solutions – HR Solutions & Professional Services{% endblock title %}

 {% block content %}
    {% for x in about_us %}
        <!-- Main Body -->
      <main class="main">
        <!-- Page Title  -->
        <section id="page_header" class="page-header d-flex align-items-center justify-center" style="background-image: url({{x.hero_button_image.url}});">
          <div class="overlay"></div>
          <div class="container">
            <div class="row d-flex align-items-center justify-center">
              <div class="col-md-5 page-header-content">
                <h1 class="page-title">{{x.hero_title}}</h1>
                <h5 class="text">{{x.hero_text}}</h5>
              </div>
            </div>
            <!-- End row -->
            <!-- End container -->
        </section>
        <!-- End Page Title  -->
        <!-- About Us Section  -->
        <section id="about_us">
          <div class="container">
            <div class="row">
              <div class="col-md-12 m-auto">
                <div class="section-heading text-center">
                  <h2 class="title">{{x.about_right_HR_title}}</h2>
                  <h5 class="sub-title">{{ x.about_right_HR_desc }}</h5>
                </div>
                <div class="section-content">
                  <div class="row mb-5 g-5 align-items-center justify-center flex-md-row flex-column-reverse">
                    <div class="col-md-7">
                      <div class="hr-block">
                        <div class="hr-block-heading">
                          <h3 class="title">{{x.our_story_title}}</h3>
                          <p class="sub-title">{{x.our_story_desc}}</p>
                        </div>
                        <div class="hr-block-content">
                          <ul class="list">
                            <li class="list-item">{{x.disadvantaged_business_enterprises}}</li>
                            <li class="list-item">{{x.certified_women_owned_business}}</li>
                            <li class="list-item">{{x.office_of_supplier}}</li>
                            <li class="list-item">{{x.broward_health}}</li>
                            <li class="list-item">{{x.minority_women_business}}</li>
                            <li class="list-item">{{x.the_school_board_of}}</li>
                            <li class="list-item">{{x.the_school_board}}</li>
                            <li class="list-item">{{x.broward_college}}</li>
                        </ul>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-5">
                      <img class="img-fluid img-shadow" src="{{x.our_story_image.url}}">
                    </div>
                  </div>
                  <div class="row mb-5 g-5 align-items-center justify-center">
                    <div class="col-md-5">
                      <img class="img-fluid img-shadow ratio-h" src="{{x.our_mission_image.url}}">
                    </div>
                    <div class="col-md-7">
                      <div class="hr-block">
                        <div class="hr-block-heading">
                          <h3 class="title">{{x.our_mission_title}}</h3>
                          <p class="sub-title">{{ x.our_mission_desc }}</p>
                        </div>
                        <div class="hr-block-content">
                          <ul class="list">
                            <li class="list-item">{{x.providing_personalized_hr_services}}</li>
                            <li class="list-item">{{x.promoting_diversity_inclusion_and_equal}}</li>
                            <li class="list-item">{{x.building_strong_long_lasting_relationships}}</li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row g-5 align-items-center justify-center flex-md-row flex-column-reverse">
                    <div class="col-md-7">
                      <div class="hr-block">
                        <div class="hr-block-heading">
                          <h3 class="title">{{x.our_vision_title}}</h3>
                          <p class="sub-title">{{x.our_vision_desc}}</p>
                        </div>
                        <div class="hr-block-content">
                          <ul class="list">
                            <li class="list-item">{{ x.help_businesses_build_high_performing }}</li>
                            <li class="list-item">{{ x.support_employees_professional_development }}</li>
                            <li class="list-item">{{x.simplify_hr_management_for_businesses}}</li>
                          </ul>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-5">
                      <img class="img-fluid img-shadow ratio-h" src="{{ x.our_vision_image.url }}">
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
        <!-- End About Us Section  -->
        <!-- Why Choose Section  -->
        <section id="why_choose">
          <div class="container">
            <div class="row g-5 align-items-center justify-center">
              <div class="col-md-5">
                <img class="img-fluid img-shadow ratio-v" src="{{x.why_choose_section_image.url}}" alt="Why Choose Right HR Solutions">
              </div>
              <div class="col-md-7">
                <div class="section-heading">
                  <h2 class="title">{{x.why_choose_section_title}}</h2>
                </div>
                <div class="section-content">
                  <div class="hr-list">
                    <div class="hr-list-items">
                      <div class="hr-list-item">
                        <div class="icon">
                          <img class="img-fluid" src="{{ x.expert_hr_guidance_section_images.url }}" alt="Expert HR Guidance">
                        </div>
                        <div class="content">
                          <h4 class="heading">{{x.expert_hr_guidance_section_title}}</h4>
                          <p class="text">{{x.expert_hr_guidance_section_desc}}</p>
                        </div>
                      </div>
                      <div class="hr-list-item">
                        <div class="icon">
                          <img class="img-fluid" src="{{x.efficiency_compliance_section_image.url}}" alt="Efficiency & Compliance">
                        </div>
                        <div class="content">
                          <h4 class="heading">{{x.efficiency_compliance_section_title}}</h4>
                          <p class="text">{{ x.efficiency_compliance_section_desc }}</p>
                        </div>
                      </div>
                      <div class="hr-list-item">
                        <div class="icon">
                          <img class="img-fluid" src="{{x.costomized_solution_section_image.url}}" alt="Customized Solutions">
                        </div>
                        <div class="content">
                          <h4 class="heading">{{x.costomized_solution_section_title}}</h4>
                          <p class="text">{{ x.costomized_solution_section_desc }}</p>
                        </div>
                      </div>
                      <div class="hr-list-item">
                        <div class="icon">
                          <img class="img-fluid" src="{{x.customer_satisfaction_section_image.url}}" alt="Customer Satisfaction">
                        </div>
                        <div class="content">
                          <h4 class="heading">{{x.customer_satisfaction_section_title}}</h4>
                          <p class="text">{{x.customer_satisfaction_section_desc}}</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
        <!-- End Why Choose Section  -->
        <!-- Get Started Section  -->
        <section id="get_started">
          <div class="container">
            <div class="row">
              <div class="col-md-12">
                <div class="get-started-block text-center">
                  <div class="section-heading">
                    <h3 class="title">{{x.lets_build_success_title}}</h3>
                    <h5 class="sub-title">{{x.lets_build_success_desc}}</h5>
                  </div>
                  <a href="/appoinment.html" class="btn btn-big">Schedule a Free Consultation</a>
                </div>
              </div>
            </div>
          </div>
        </section>
        <!-- End Get Started Section  -->
      </main>
      <!-- End Main Body -->
    {% endfor %}
    {% endblock content %}