{% extends "base.html" %}
{% load static %}
{% block title %}Right HR Solutions – HR Solutions & Professional Services{% endblock title %}

 {% block content %}
      <!-- Appointment Section  -->
      <section id="book_appointment" class="book-appointment">
        <div class="container">
          <div class="row g-0 appointment-wrapper">
            <div class="col-md-6">
              <img class="appointment-img" src="{% static '' %}assets/img/image/schedule-appointment.png" alt="Apostille Services">
            </div>
            <div class="col-md-6">
              <div class="appointment-form-wrapper">
                <div class="appointment-form">
                  <form method="post" action="{% url 'appoinment' %}" class="needs-validation" novalidate>
                    {% csrf_token %}
                    <div class="appointment-form-section">
                        <div class="form-heading">
                            <h3 class="title">Schedule Your Appointment</h3>
                            <h6 class="sub-title">Simply choose the service you need, select a date and time that fits your
                                schedule, and confirm your booking. We look forward to serving you!</h6>
                        </div>
                        <div class="form-body">
                            <div class="row g-3">
                                <div class="col-12 col-sm-12 col-md-5">
                                    <label for="service" class="form-label">Select a Service</label>
                                    <select class="form-select" id="service" name="service" required>
                                        <option value="">Choose a service...</option>
                                        <option value="Apostille Services">Apostille Services</option>
                                        <option value="Background Checks">Background Checks</option>
                                        <option value="Benefits Management">Benefits Management</option>
                                        <option value="Document Notarization">Document Notarization</option>
                                        <option value="Document Translation">Document Translation</option>
                                        <option value="Fingerprinting Services">Fingerprinting Services</option>
                                        <option value="Payroll Management">Payroll Management</option>
                                        <option value="Special Projects">Special Projects</option>
                                        <option value="Staffing & Recruitment">Staffing & Recruitment</option>
                                        <option value="Training & Development">Training & Development</option>
                                    </select>
                                    <div class="invalid-feedback">Select a service. </div>
                                </div>
                                <div class="col-7 col-sm-7 col-md-4">
                                    <label for="pickDate" class="form-label">Set Date</label>
                                    <input type="date" class="form-control" id="pickDate" name="date" required>
                                    <div class="invalid-feedback">Select a date. </div>
                                </div>
                                <div class="col-5 col-sm-5 col-md-3">
                                    <label for="pickTime" class="form-label">Set Time</label>
                                    <select class="form-control" id="pickTime" name="time" required>
                                        <option value="">Select a time</option>
                                    </select>
                                    <div class="invalid-feedback">Select between 8:00 AM and 6:00 PM.</div>
                                </div>
                                <div class="col-12">
                                  <label for="yourName" class="form-label">Name</label>
                                  <input type="text" class="form-control" id="yourName" name="name" required 
                                      pattern="^(?!\s*$).+" value="{{ form.name.value|default:'' }}" title="Name cannot be empty or only spaces">
                                  <div class="invalid-feedback">Name is required </div>
                              </div>
                              
                              <div class="col-12 col-sm-6">
                                <label for="emailAddress" class="form-label">Email</label>
                                <input type="email" name="email" id="emailAddeass" placeholder=""
                                class="form-control {% if specific_email_error %}is-invalid{% endif %}"
                                value="{{ form.email.value|default:'' }}" required>
                                <div class="invalid-feedback">E-mail is required.</div>
                                {% if specific_email_error %}
                                <div class="invalid-feedback">{{ specific_email_error }}</div>
                                {% endif %}
                            </div>
                                <div class="col-12 col-sm-6">
                                    <label for="phoneNumber" class="form-label">Phone</label>
                                    <input type="tel" class="form-control" id="phoneNumber" name="phone" value="{{ form.phone.value|default:'' }}" required>
                                    <div class="invalid-feedback">Enter phone number. </div>
                                </div>
                                <div class="col-12">
                                    <label for="address" class="form-label">Address</label>
                                    <input type="text" class="form-control" id="address" name="address" value="{{ form.phone.value|default:'' }}" required 
                                    pattern="^(?!\s*$).+" title="Name cannot be empty or only spaces">
                                    <div class="invalid-feedback">Enter your address. </div>
                                </div>
                               <div class="col-12">
                                    <label for="status" class="form-label">Status</label>
                                    <select class="form-control" id="status" name="status" required>
                                        <option value="" {% if not form.status.value %}selected{% endif %}>----Select Status----</option>
                                        <option value="scheduled" {% if form.status.value == 'scheduled' %}selected{% endif %}>Scheduled</option>
                                        <option value="completed" {% if form.status.value == 'completed' %}selected{% endif %}>Completed</option>
                                        <option value="cancelled" {% if form.status.value == 'cancelled' %}selected{% endif %}>Cancelled</option>
                                        <option value="rescheduled" {% if form.status.value == 'rescheduled' %}selected{% endif %}>Rescheduled</option>
                                    </select>
                                    <div class="invalid-feedback">Please select a valid status.</div>
                                </div>
                                <div class="col-12">
                                    <label for="commentsQuestions" class="form-label">Comments or Questions <span
                                            class="small">(Optional)</span>
                                    </label>
                                    <textarea class="form-control" id="commentsQuestions" name="comments"></textarea>
                                    <div class="invalid-feedback">Enter your comments or questions. </div>
                                </div>
                                <div class="col-12">
                                    <div class="form-check">
                                        <input type="checkbox" class="form-check-input" id="acceptTermsConditions" name="terms" required>
                                        <label class="form-check-label" for="acceptTermsConditions">I do accept the <a
                                                href="/terms-conditions">Terms and Conditions</a>
                                        </label>
                                        <div class="invalid-feedback">You must accept the terms and conditions. </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <button class="mt-4 btn btn-big" type="submit" id="submitButton">Book Now</button>
                    </div>
                </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- End Appointment Section  -->
    </main>
    <!-- End Main Body -->

      <!-- Footer Bottom Section -->
      {% endblock content %}