{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <title>Right HR Solutions – HR Solutions & Professional Services</title> -->
    <title>
        {% block title %}{% endblock title %}
    </title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="Zohir">
    <!-- Favicons -->
    <link rel="icon" href="{% static '' %}assets/img/favicon.svg">
    
    <link rel="apple-touch-icon" href="{% static '' %}assets/img/apple-touch-icon.svg">
    <!-- Vendor CSS Files -->
   
    <link rel="stylesheet" href="{% static '' %}assets/vendor/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static '' %}assets/vendor/bootstrap-icons/bootstrap-icons.css">
    <!-- Template Main CSS File -->
    <link rel="stylesheet" href="{% static '' %}assets/css/style.css">
    <link rel="stylesheet" href="{% static '' %}assets/css/responsive.css">
    <!-- =======================================================
    * Template Name: Right HR Solutions - v1.0
    * Template URL: https://zohirs.com
    * Author: Zohir
    ===================================================== -->
  </head>
  <body>

  <!-- Preloader -->
  <!-- <div id="preloader" class="pre-loader">
    <div id="loading">
      <img class="img-fluid loader" src="assets/img/loader.svg" alt="loader">
    </div>
  </div> -->
  <div class="nav-overlay"></div>
  <!-- Page Content -->
  <div id="page" class="page">
    <!-- Header -->
    <header id="header" class="main-header">
      <div class="container header-wrapper">
        <div class="site-logo">
          <a href="/">
            <img class="img-fluid"  src="{% static 'assets/img/logo.svg' %}"  alt="logo">
          </a>  
        </div>
        <nav class="main-nav">
          <div class="navbar">
            <ul class="nav-menu">
              <li class="nav-item active">
                <a href="/" class="nav-link">Home</a>
              </li>
              <li class="nav-item">
                <a href="/professional_services" class="nav-link">Professional Services</a>
              </li>
              <li class="nav-item dropdown">
                <a href="/hrsolutions" class="nav-link">HR Solutions</a>
                <div class="dropdown-menu mega-menu">
                  <div class="mega-menu-block d-none d-md-block">
                    <div class="mega-menu-heading">
                      <h3>Overview</h3>
                    </div>
                    <div class="menu-items"> 
                      <img class="img-fluid"  src="{% static 'assets/img/image/menu-overview.png' %}"
                        alt="Professional Services">
                      <p>Comprehensive HR & Legal Solutions for Your Business</p>
                    </div>
                  </div>
                  <div class="mega-menu-block">
                    <div class="mega-menu-heading">
                      <a href="/hrsolutions">
                        <h3>HR Solutions</h3>
                      </a>
                    </div>
                    <ul class="menu-items">
                      <li>
                        <a href="/hrsolutions#Benefits_Management">Benefits Management</a>
                      </li>
                      <li>
                        <a href="/hrsolutions#Payroll_Management">Payroll Management</a>
                      </li>
                      <li>
                        <a href="/hrsolutionsSpecial_HR_Project">Special HR Project</a>
                      </li>
                      <li>
                        <a href="/hrsolutions#Staffing_Recruitment">Staffing & Recruitment</a>
                      </li>
                      <li>
                        <a href="/hrsolutions#Training_Development">Training & Development</a>
                      </li>
                    </ul>
                  </div>
                  <div class="mega-menu-block">
                    <div class="mega-menu-heading">
                      <a href="/professional_services">
                        <h3>Professional Services</h3>
                      </a>
                    </div>
                    <ul class="menu-items">
                      <li>
                        <a href="/professional_services#Apostille_Service">Apostille Service</a>
                      </li>
                      <li>
                        <a href="/professional_services#Background_Check">Background Check</a>
                      </li>
                      <li>
                        <a href="/professional_services#Document_Notarization">Document Notarization</a>
                      </li>
                      <li>
                        <a href="/professional_services#Document_Translation">Document Translation</a>
                      </li>
                      <li>
                        <a href="/professional_services#Fingerprinting_Service">Fingerprinting Service</a>
                      </li>
                    </ul>
                  </div>
                </div>
              </li>
              <li class="nav-item">
                <a href="/government" class="nav-link">Government</a>
              </li>
              <li class="nav-item">
                <a href="/about" class="nav-link">About Us</a>
              </li>
              <li class="nav-item">
                <a href="/faqs" class="nav-link">FAQs</a>
              </li>
              <li class="nav-item dropdown notranslate">
                <a href="#" class="nav-link" id="languageDropdown" data-bs-toggle="dropdown" aria-expanded="false">
                  <i class="bi bi-globe"></i> <span id="currentLanguage">English</span>
                </a>
                <div class="dropdown-menu">
                  <ul class="menu-items">
                    <li><a href="#" class="dropdown-item" onclick="handleLanguageChange('en')">English</a></li>
                    <li><a href="#" class="dropdown-item" onclick="handleLanguageChange('fr')">Français</a></li>
                    <li><a href="#" class="dropdown-item" onclick="handleLanguageChange('es')">Español</a></li>
                  </ul>
                </div>
              </li>
            </ul>
          </div>
          <div class="nav-action">
            <ul class="nav-btn">
              <li class="nav-btn-item d-none d-md-block">
                <a href="/appoinment" class="btn">Book Appointments</a>
              </li>
              <li class="nav-btn-item">
                <a href="/signup" class="btn">Sign Up/Login</a>
              </li>
            </ul>
          </div>
          <div class="hamburger">
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
          </div>
        </nav>
      </div>
      <!-- End header-wrapper -->
    </header>
    <!-- End Header -->
    <!-- Main Body -->
    <main class="main">
      <!-- Hero -->

    {% block content %}{% endblock content %}
          <!-- Footer Bottom Section -->
          <footer class="footer-buttom d-flex align-items-center justify-center">
            <div class="container">
              <div class="row d-flex align-items-center justify-center footer-copyright">
                <div class="col-md-5 col-sm-12">
                  <p class="text-md-start text-center mb-0">© <span id="year"></span>
                    <a href="/">
                      <strong>RightHRSolutions</strong>
                    </a> | All Rights Reserved.
                  </p>
                </div>
      
                <div class="col-md-4 col-sm-12">
                  <ul class="inline-menu">
                    <li>
                      <a href="/privacypolicy">Privacy Policy</a>
                    </li>
                    <li>
                      <a href="/termsconditions">Terms & Conditions</a>
                    </li>
                  </ul>
                </div>
                <div class="col-md-3 col-sm-12 mt-2 mt-md-0">
                  <ul class="social-link">
                  <li>
                    <a href="https://www.facebook.com/righthrsolutions/" target="_blank" class="social-link-item">
                      <i class="bi bi-facebook"></i>
                    </a>
                  </li>
                  <li>
                    <a href="https://www.instagram.com/righthrsolutions/" target="_blank" class="social-link-item">
                      <i class="bi bi-instagram"></i>
                    </a>
                  </li>
                  <li>
                    <a href=" https://twitter.com/righthrsolution/" target="_blank" class="social-link-item">
                      <i class="bi bi-twitter-x"></i>
                    </a>
                  </li>
                </ul>
                </div>
              </div>
            </div>
          </footer>
          <!-- End Footer -->
        </div>
        <!-- End Page Content -->
        <a href="#" class="back-to-top d-flex align-items-center justify-content-center">
          <i class="bi bi-arrow-up-short"></i>
        </a>
        <!-- Google Translate Element (hidden) -->
        <div id="google_translate_element" style="display: none;"></div>
        <!-- Vendor JS Files -->
        <script src="{% static '' %}assets/vendor/jquery/jquery-3.7.0.min.js"></script>
        <script src="{% static '' %}assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
        <!-- Template Main JS File -->
        <script src="{% static '' %}assets/js/main.js"></script>
    </body>

</html>