{% extends "base.html" %}
{% load static %}
{% block title %}Right HR Solutions – HR Solutions & Professional Services{% endblock title %}

 {% block content %}

      <section id="page_header" class="page-header d-flex align-items-center justify-center"
        style="background-image: url({% static '' %}assets/img/image/frequently-asked-questions-page.png);">
        <div class="overlay"></div>
        <div class="container">
          <div class="row d-flex align-items-center justify-center">
            <div class="col-md-5 page-header-content">
              <h1 class="page-title">FAQs</h1>
              <h5 class="text">Here, We Answer Some Of The Most Commonly Asked Questions.</h5>
            </div>
          </div>
          <!-- End row -->
          <!-- End container -->
      </section>
      <!-- End Page Title  -->
      <!-- Page Content Section  -->
      <section id="page_content" class="faqs-page">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <div class="section-content">
                <div class="row">
                  <div class="col-md-12">
                    {%for section in sections %}
                    <div class="hr-faq-block mb-4">
                      <h3 class="title mb-3">{{section.title}}</h3>
                      <div class="accordion accordion-flush" id="GeneralQuestions">
                        {%for faq in section.faqs.all %}
                        <div class="accordion-item">
                          <h2 class="accordion-header">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                              data-bs-target="#GeneralQuestions_01" aria-expanded="false"
                              aria-controls="GeneralQuestions_01"> {{faq.heading}}
                            </button>
                          </h2>
                          <div id="GeneralQuestions_01" class="accordion-collapse collapse"
                            >
                            <div class="accordion-body">{{faq.description}}</div>
                          </div>
                        </div>
                        {%endfor%}
                        
                      </div>
                    </div>
                    {%endfor%}
                    
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- End Page Content Section  -->
      <!-- Get Started Section  -->
      <section id="get_started">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <div class="get-started-block text-center">
                <div class="section-heading">
                  <h3 class="title">Still Have Questions?</h3>
                  <h5 class="text">If your question wasn't answered here, our team is happy to help. <a
                      href="/contact-us">contact us</a> today. </h5>
                  <h4 class="location">1600 NW 2nd Ave, Suite 20, Boca Raton, FL 33432</h4>
                  <h4 class="phone-email">Phone: (561) 491-9550 | Email: info@righthrsolutions.com </h4>
                  <a href="/contact-us" class="btn btn-big">Contact Us</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- End Get Started Section  -->
    </main>
    <!-- End Main Body -->


{% endblock content %}