{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Right HR Solutions – HR Solutions & Professional Services</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="Zohir">
    <!-- Favicons -->
    <link rel="icon" href="{% static '' %}assets/img/favicon.svg">
    <link rel="apple-touch-icon" href="{% static '' %}assets/img/apple-touch-icon.svg">
    <!-- Vendor CSS Files -->
    <link rel="stylesheet" href="{% static '' %}assets/vendor/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static '' %}assets/vendor/bootstrap-icons/bootstrap-icons.css">
    <!-- Template Main CSS File -->
    <link rel="stylesheet" href="{% static '' %}assets/css/style.css">
    <link rel="stylesheet" href="{% static '' %}assets/css/responsive.css">
    <!-- =======================================================
    * Template Name: Right HR Solutions - v1.0
    * Template URL: https://zohirs.com
    * Author: Zohir
    ======================================================== -->
  </head>
  <body>
    <!-- Page Content -->
    <div id="auth-page" class="page">
      <!-- Header -->
      <header id="auth-page-header">
        <div class="container">
          <div class="auth-logo">
            <a href="/">
              <img class="img-fluid" src="{% static '' %}assets/img/Logo-color.svg" alt="logo">
            </a>
          </div>
        </div>
        <!-- End header-wrapper -->
      </header>
      <!-- End Header -->
      <!-- Main Body -->
      <main class="auth-page-wrapper">
        <!-- Checkuot Section  -->
        <section id="auth_section">
          <div class="container">
            <div class="row g-0 auth-wrapper">
              <div class="col-md-6">
                <img class="auth-img" src="{% static '' %}assets/img/image/document-notarization.png" alt="Right HR Solutions">
              </div>
              <div class="col-md-6">
                <div class="auth-form-wrapper">
                  <div class="form-heading text-center">
                    <h3 class="title">Reset Password</h3>
                    <h6 class="sub-title">You Will Receive Instructions for Resting Your Password </h6>
                  </div>
                  <form method="post" action="{% url 'forget-password' %}" class="needs-validation" novalidate>
                    {% csrf_token %}
                    <div class="form-body">
                      <div class="row g-3">
                        <div class="col-sm-12">
                          <input type="email" class="form-control" id="emailAddress" name="email" placeholder="Your Email" required>
                          {% if messages %}
                              {% for message in messages %}
                                  <div class="invalid-feedback">{{ message }}</div>
                              {% endfor %}
                          {% else %}
                              <div class="invalid-feedback">Enter a valid email address.</div>
                          {% endif %}
                      </div>
                      </div>
                      <button class="btn btn-auth" type="submit" id="submitButton">Reset Password</button>
                    </div>
                  </form>
                  
                </div>
              </div>
            </div>
          </div>
        </section>
        <!-- End Checkout Section  -->
      </main>
      <!-- End Main Body -->
      <!-- Footer Bottom Section -->
      <footer id="auth-page-footer" class="d-flex align-items-center justify-center text-center">
        <div class="container">
          <div class="row g-3">
            <div class="col-md-12">
              <ul class="inline-menu">
                <li>
                  <a href="{% static '' %}/privacy-policy">Privacy Policy</a>
                </li>
                <li>
                  <a href="{% static '' %}/terms-conditions">Terms & Conditions</a>
                </li>
              </ul>
            </div>
            <div class="col-md-12">
              <p class="mb-0">© Copyright <span id="year"></span>
                <a href="{% static '' %}/index.html">
                  <strong>RightHRSolutions</strong>
                </a> | All Rights Reserved.
              </p>
            </div>
          </div>
        </div>
      </footer>
      <!-- End Footer -->
    </div>
    <!-- End Page Content -->
    <!-- Vendor JS Files -->
    <script src="{% static '' %}assets/vendor/jquery/jquery-3.7.0.min.js"></script>
    <script src="{% static '' %}assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- Template Main JS File -->
    <script src="{% static '' %}assets/js/main.js"></script>
  </body>
</html>