{% extends "base.html" %}
{% load static %}
{% block title %}Right HR Solutions – HR Solutions & Professional Services{% endblock title %}

 {% block content %}
      <section id="page_header" class="page-header d-flex align-items-center justify-center"
        style="background-image: url({{ page.pageBanner.url }});">
        <div class="overlay"></div>
        <div class="container">
          <div class="row d-flex align-items-center justify-center">
            <div class="col-md-5 page-header-content">
              <h1 class="page-title">{{ page.pageHeading }}</h1>
              <h5 class="text">{{ page.pageDescription|safe }}</h5>
            </div>
          </div>
          <!-- End row -->
          <!-- End container -->
      </section>
      <!-- End Page Title  -->
      <!-- Government Excellence Section  -->
      <section id="government_excellence">
        <div class="container">
          <div class="row">
            <div class="col-md-12 m-auto">
              <div class="section-heading text-center">
                <h2 class="title">Government Partnerships with Right HR Solutions</h2>
                <h5 class="sub-title">At Right HR Solutions, we’re dedicated to meeting the specialized needs of
                  government agencies at local, state, and federal levels. Our comprehensive suite of services — from HR
                  consulting and staffing to notarization and document management — ensures that government
                  organizations can operate efficiently, securely, and in full compliance with regulatory standards.
                  With a proven track record of delivering tailored solutions across various sectors, we bring the
                  expertise and commitment necessary to support government institutions in their mission to serve the
                  public effectively.</h5>
              </div>
              <div class="section-content">
                <div class="row g-5 align-items-center justify-center flex-md-row flex-column-reverse">
                  <div class="col-md-7">
                    <div class="hr-block">
                      <div class="hr-block-heading">
                        <h3 class="title">Our Commitment to Government Excellence</h3>
                        <p class="sub-title">Right HR Solutions is committed to fostering partnerships that meet the
                          distinct requirements of government agencies, contributing to the security, efficiency, and
                          effectiveness of the public sector. By partnering with Right HR Solutions, government agencies
                          gain a trusted ally with the capabilities and insights to address modern challenges in public
                          service.</p>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-5">
                    <img class="img-fluid img-shadow ratio-h"
                      src="{% static '' %}assets/img/image/commitment-government-excellence.png" alt="Apostille Services">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- End Government Excellence Section  -->
      <!-- Service Section  -->
      <section id="service">
        <div class="container">
          <div class="row">
            <div class="col-md-12 m-auto">
              <div class="section-heading text-center">
                <h2 class="title">Our Services for Government Agencies</h2>
                <h5 class="sub-title">At Right HR Solutions, we are dedicated to helping your business thrive by
                  offering customized and comprehensive HR services designed to meet your specific needs.</h5>
              </div>
              <div class="section-content">
                <div class="row mb-5 g-5 align-items-center justify-center flex-md-row flex-column-reverse">
                    {% for item in content %}
                    <div class="row mb-5 g-4 g-md-5 align-items-center justify-center
                      {% if forloop.counter|divisibleby:2 %}flex-md-row-reverse{% else %}flex-md-row{% endif %}">
                  <div class="col-md-7">
                    <div class="hr-list">
                      <div class="hr-list-heading">
                        <h3 class="title">{{ item.contentHeading }}</h3>
                        <p class="sub-title">I{{ item.contentDescription|safe }}</p>
                      </div>
                      <div class="hr-list-items">
                          {% for subcontent in item.sub_contents.all %}
                        <div class="hr-list-item">
                          <div class="icon">
                            <img class="img-fluid" src="{{ subcontent.subContentImage.url }}"
                              alt="{{ subcontent.sub_contentHeading }}">
                          </div>
                          <div class="content">
                            <h4 class="heading">{{ subcontent.sub_contentHeading }}</h4>
                            <p class="text">{{ subcontent.subContent }}</p>
                          </div>
                        </div>
                          {% endfor %}
<!--                        <div class="hr-list-item">-->
<!--                          <div class="icon">-->
<!--                            <img class="img-fluid" src="{% static '' %}assets/img/icons/hr-icon-payroll-management.svg"-->
<!--                              alt="Payroll Management">-->
<!--                          </div>-->
<!--                          <div class="content">-->
<!--                            <h4 class="heading">Payroll Management</h4>-->
<!--                            <p class="text">Our accurate and efficient payroll processing ensures full compliance with-->
<!--                              tax regulations, so you can focus on running your business without worry.</p>-->
<!--                          </div>-->
<!--                        </div>-->
<!--                        <div class="hr-list-item">-->
<!--                          <div class="icon">-->
<!--                            <img class="img-fluid" src="{% static '' %}assets/img/icons/hr-icon-special-project.svg"-->
<!--                              alt="Special Projects">-->
<!--                          </div>-->
<!--                          <div class="content">-->
<!--                            <h4 class="heading">Special Projects</h4>-->
<!--                            <p class="text">Facing unique HR challenges? We provide expert guidance on one-time or-->
<!--                              recurring special projects, tailored to your organization’s needs.</p>-->
<!--                          </div>-->
<!--                        </div>-->
<!--                        <div class="hr-list-item">-->
<!--                          <div class="icon">-->
<!--                            <img class="img-fluid" src="{% static '' %}assets/img/icons/hr-icon-staffing-recruitment.svg"-->
<!--                              alt="Staffing & Recruitment">-->
<!--                          </div>-->
<!--                          <div class="content">-->
<!--                            <h4 class="heading">Staffing & Recruitment</h4>-->
<!--                            <p class="text">Find and recruit the perfect talent to drive your business forward. We focus-->
<!--                              on matching skilled professionals to your needs, ensuring a seamless hiring process.</p>-->
<!--                          </div>-->
<!--                        </div>-->
<!--                        <div class="hr-list-item">-->
<!--                          <div class="icon">-->
<!--                            <img class="img-fluid" src="{% static '' %}assets/img/icons/hr-icon-trainning-development.svg"-->
<!--                              alt="Training & Development">-->
<!--                          </div>-->
<!--                          <div class="content">-->
<!--                            <h4 class="heading">Training & Development</h4>-->
<!--                            <p class="text">Help your employees grow with tailored training programs designed to boost-->
<!--                              skills and productivity. Empower your team to succeed with professional development-->
<!--                              opportunities.</p>-->
<!--                          </div>-->
<!--                        </div>-->
                      </div>
                    </div>
                  </div>
                  <div class="col-md-5">
                    <img class="img-fluid img-shadow ratio-v" src="{{ item.contentImage.url }}"
                      alt="{{ item.contentHeading }}">
                  </div>
                        {% endfor %}
                </div>
<!--                <div class="row  g-5 align-items-center justify-center">-->
<!--                  <div class="col-md-5">-->
<!--                    <img class="img-fluid img-shadow ratio-v"-->
<!--                      src="{% static '' %}assets/img/image/professional-services-government.png" alt="Professional Services">-->
<!--                  </div>-->
<!--                  <div class="col-md-7">-->
<!--                    <div class="hr-list">-->
<!--                      <div class="hr-list-heading">-->
<!--                        <h3 class="title">Professional Services</h3>-->
<!--                        <p class="sub-title">Our experienced team of HR professionals is committed to simplifying your-->
<!--                          operations and supporting your workforce.</p>-->
<!--                      </div>-->
<!--                      <div class="hr-list-items">-->
<!--                        <div class="hr-list-item">-->
<!--                          <div class="icon">-->
<!--                            <img class="img-fluid" src="{% static '' %}assets/img/icons/ps-icon-apostille-services.svg"-->
<!--                              alt="Apostille Services">-->
<!--                          </div>-->
<!--                          <div class="content">-->
<!--                            <h4 class="heading">Apostille Services</h4>-->
<!--                            <p class="text">Simplify the legalization of documents for international use with our-->
<!--                              apostille services, ensuring your documents meet all necessary legal standards.</p>-->
<!--                          </div>-->
<!--                        </div>-->
<!--                        <div class="hr-list-item">-->
<!--                          <div class="icon">-->
<!--                            <img class="img-fluid" src="{% static '' %}assets/img/icons/ps-icon-background-check.svg"-->
<!--                              alt="Background Checks">-->
<!--                          </div>-->
<!--                          <div class="content">-->
<!--                            <h4 class="heading">Background Checks</h4>-->
<!--                            <p class="text">Ensure the integrity of your team with our thorough and secure background-->
<!--                              check services, including Level I and Level II screening.</p>-->
<!--                          </div>-->
<!--                        </div>-->
<!--                        <div class="hr-list-item">-->
<!--                          <div class="icon">-->
<!--                            <img class="img-fluid" src="{% static '' %}assets/img/icons/ps-icon-docu-notarization.svg"-->
<!--                              alt="Document Notarization">-->
<!--                          </div>-->
<!--                          <div class="content">-->
<!--                            <h4 class="heading">Document Notarization</h4>-->
<!--                            <p class="text">Need legal verification for important documents? Our certified notaries-->
<!--                              provide fast and reliable services. </p>-->
<!--                          </div>-->
<!--                        </div>-->
<!--                        <div class="hr-list-item">-->
<!--                          <div class="icon">-->
<!--                            <img class="img-fluid" src="{% static '' %}assets/img/icons/ps-icon-docu-translation.svg"-->
<!--                              alt="Document Translation">-->
<!--                          </div>-->
<!--                          <div class="content">-->
<!--                            <h4 class="heading">Document Translation</h4>-->
<!--                            <p class="text">Bridge language barriers with professional document translation services,-->
<!--                              ensuring accurate communication across borders.</p>-->
<!--                          </div>-->
<!--                        </div>-->
<!--                        <div class="hr-list-item">-->
<!--                          <div class="icon">-->
<!--                            <img class="img-fluid" src="{% static '' %}assets/img/icons/ps-icon-fingerprinting.svg"-->
<!--                              alt="fingerprinting Services">-->
<!--                          </div>-->
<!--                          <div class="content">-->
<!--                            <h4 class="heading">Fingerprinting Services</h4>-->
<!--                            <p class="text">We offer accurate and efficient fingerprinting services for background-->
<!--                              checks, security clearances, and more, using advanced technology for fast results.</p>-->
<!--                          </div>-->
<!--                        </div>-->
<!--                      </div>-->
<!--                    </div>-->
<!--                  </div>-->
<!--                </div>-->
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- End Service Section  -->
      <!-- Why Choose Section  -->
       <section id="why_choose">
          <div class="container">
            <div class="row g-5 align-items-center justify-center">
              {% for item in why_we_choose %}
            <div class="row mb-5 g-4 g-md-5 align-items-center justify-center
              {% if forloop.counter|divisibleby:2 %}flex-md-row-reverse{% else %}flex-md-row{% endif %}">

              <div class="col-md-5">
                <img class="img-fluid img-shadow ratio-v" src="{{ item.contentImage.url }}" alt="Why Choose Right HR Solutions">

              </div>
              <div class="col-md-7">
                <div class="section-heading">
                  <h2 class="title">{{ item.contentHeading }}</h2>
                </div>
                <div class="section-content">
                  <div class="hr-list">
                    <div class="hr-list-items">
                      {% for subcontent in item.sub_contents.all %}
                      <div class="hr-list-item">
                        <div class="icon">
                          <img class="img-fluid"src="{{ subcontent.subContentImage.url }}" alt="{{ subcontent.sub_contentHeading }}">
                        </div>
                        <div class="content">
                          <h4 class="heading">{{ subcontent.sub_contentHeading }}</h4>
                          <p class="text">{{ subcontent.subContent }}</p>
                        </div>
                      </div>
<!--                      <div class="hr-list-item">-->
<!--                        <div class="icon">-->
<!--                          <img class="img-fluid"  src="{% static 'assets/img/icons/why-choose-icon-efficiency.svg' %}" alt="Efficiency & Compliance">-->
<!--                        </div>-->
<!--                        <div class="content">-->
<!--                          <h4 class="heading">Efficiency & Compliance</h4>-->
<!--                          <p class="text">Whether it's HR, fingerprinting, or notary services, we ensure everything is handled quickly and in full compliance with regulations.</p>-->
<!--                        </div>-->
<!--                      </div>-->
<!--                      <div class="hr-list-item">-->
<!--                        <div class="icon">-->
<!--                          <img class="img-fluid"  src="{% static 'assets/img/icons/why-choose-icon-customized.svg' %}" alt="Customized Solutions">-->
<!--                        </div>-->
<!--                        <div class="content">-->
<!--                          <h4 class="heading">Customized Solutions</h4>-->
<!--                          <p class="text">Every business is unique. We offer tailored solutions that align with your business needs, ensuring that you receive the highest level of service.</p>-->
<!--                        </div>-->
<!--                      </div>-->
<!--                      <div class="hr-list-item">-->
<!--                        <div class="icon">-->
<!--                          <img class="img-fluid"  src="{% static 'assets/img/icons/why-choose-icon-satisfaction.svg' %}" alt="Customer Satisfaction">-->
<!--                        </div>-->
<!--                        <div class="content">-->
<!--                          <h4 class="heading">Customer Satisfaction</h4>-->
<!--                          <p class="text">We pride ourselves on delivering high-quality service and maintaining long-term relationships with our clients. Our goal is to make your HR and legal processes stress-free.</p>-->
<!--                        </div>-->
<!--                      </div>-->
                      {% endfor %}
                    </div>
                  </div>
                </div>
              </div>
            </div>
              {% endfor %}
          </div>
        </section>
      <!-- End Why Choose Section  -->
      <!-- Get Started Section  -->
      <section id="get_started">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <div class="get-started-block text-center">
                <div class="section-heading">
                  <h3 class="title">Government Partnerships</h3>
                  <h5 class="sub-title">For inquiries about our government-specific services, or to learn how we can
                    support your agency’s mission.</h5>
                </div>
                <!-- Button trigger modal -->
                <button type="button" class="btn btn-big" data-bs-toggle="modal"
                  data-bs-target="#GovernmentServiceBook">
                  Book a Service
                </button>
              </div>
            </div>
          </div>
        </div>
      </section>

      <!-- Modal -->
      <div class="modal fade" id="GovernmentServiceBook" tabindex="-1" aria-labelledby="GovernmentServiceBook"
        aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable">
          <div class="modal-content">            
            <div class="modal-body">
              <div class="container-fluid">
                <div class="row">
                  <div class="appointment-form-wrapper">
                    <div class="appointment-form">
                      <form method="post" action="{% url 'appoinment' %}" class="needs-validation" novalidate>
                        {% csrf_token %}
                        <div class="appointment-form-section">
                            <div class="form-heading">
                                <h3 class="title">Schedule Your Appointment</h3>
                                <h6 class="sub-title">Simply choose the service you need, select a date and time that fits your
                                    schedule, and confirm your booking. We look forward to serving you!</h6>
                            </div>
                            <div class="form-body">
                                <div class="row g-3">
                                    <div class="col-12 col-sm-12 col-md-5">
                                        <label for="service" class="form-label">Select a Service</label>
                                        <select class="form-select" id="service" name="service" required>
                                            <option value="">Choose a service...</option>
                                            <option value="Apostille Services">Apostille Services</option>
                                            <option value="Background Checks">Background Checks</option>
                                            <option value="Benefits Management">Benefits Management</option>
                                            <option value="Document Notarization">Document Notarization</option>
                                            <option value="Document Translation">Document Translation</option>
                                            <option value="Fingerprinting Services">Fingerprinting Services</option>
                                            <option value="Payroll Management">Payroll Management</option>
                                            <option value="Special Projects">Special Projects</option>
                                            <option value="Staffing & Recruitment">Staffing & Recruitment</option>
                                            <option value="Training & Development">Training & Development</option>
                                        </select>
                                        <div class="invalid-feedback">Select a service. </div>
                                    </div>
                                    <div class="col-7 col-sm-7 col-md-4">
                                        <label for="pickDate" class="form-label">Set Date</label>
                                        <input type="date" class="form-control" id="pickDate" name="date" required>
                                        <div class="invalid-feedback">Select a date. </div>
                                    </div>
                                    <div class="col-5 col-sm-5 col-md-3">
                                        <label for="pickTime" class="form-label">Set Time</label>
                                        <select class="form-control" id="pickTime" name="time" required>
                                            <option value="">Select a time</option>
                                        </select>
                                        <div class="invalid-feedback">Select between 8:00 AM and 6:00 PM.</div>
                                    </div>
                                    <div class="col-12">
                                      <label for="yourName" class="form-label">Name</label>
                                      <input type="text" class="form-control" id="yourName" name="name" required 
                                          pattern="^(?!\s*$).+" title="Name cannot be empty or only spaces">
                                      <div class="invalid-feedback">Name is required </div>
                                  </div>
                                  
                                    <div class="col-12 col-sm-6">
                                        <label for="emailAddress" class="form-label">Email</label>
                                        <input type="email" class="form-control" id="emailAddress" name="email" required>
                                        <div class="invalid-feedback">Enter valid email. </div>
                                    </div>
                                    <div class="col-12 col-sm-6">
                                        <label for="phoneNumber" class="form-label">Phone</label>
                                        <input type="tel" class="form-control" id="phoneNumber" name="phone" required>
                                        <div class="invalid-feedback">Enter phone number. </div>
                                    </div>
                                    <div class="col-12">
                                        <label for="address" class="form-label">Address</label>
                                        <input type="text" class="form-control" id="address" name="address" required 
                                        pattern="^(?!\s*$).+" title="Name cannot be empty or only spaces">
                                        <div class="invalid-feedback">Enter your address. </div>
                                    </div>
                                    <div class="col-12">
                                        <label for="commentsQuestions" class="form-label">Comments or Questions <span
                                                class="small">(Optional)</span>
                                        </label>
                                        <textarea class="form-control" id="commentsQuestions" name="comments"></textarea>
                                        <div class="invalid-feedback">Enter your comments or questions. </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="form-check">
                                            <input type="checkbox" class="form-check-input" id="acceptTermsConditions" name="terms" required>
                                            <label class="form-check-label" for="acceptTermsConditions">I do accept the <a
                                                    href="/terms-conditions">Terms and Conditions</a>
                                            </label>
                                            <div class="invalid-feedback">You must accept the terms and conditions. </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <button class="mt-4 btn btn-big" type="submit" id="submitButton">Book Now</button>
                        </div>
                    </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- End Get Started Section  -->
    </main>
    <!-- End Main Body -->

    {% endblock content %}