{% extends "base.html" %}
{% load static %}
{% block title %}Right HR Solutions – HR Solutions & Professional Services{% endblock title %}

 {% block content %}
  {% for x in government %}
      <!-- Main Body -->
    <main class="main">
      <!-- Page Title  -->
      <section id="page_header" class="page-header d-flex align-items-center justify-center"
        style="background-image: url({{x.hero_button_image.url}});">
        <div class="overlay"></div>
        <div class="container">
          <div class="row d-flex align-items-center justify-center">
            <div class="col-md-5 page-header-content">
              <h1 class="page-title">{{x.hero_title}}</h1>
              <h5 class="text">{{x.hero_text}}</h5>
            </div>
          </div>
          <!-- End row -->
          <!-- End container -->
      </section>
      <!-- End Page Title  -->
      <!-- Government Excellence Section  -->
      <section id="government_excellence">
        <div class="container">
          <div class="row">
            <div class="col-md-12 m-auto">
              <div class="section-heading text-center">
                <h2 class="title">{{x.government_partnerships_title}}</h2>
                <h5 class="sub-title">{{ x.government_partnerships_desc }}</h5>
              </div>
              <div class="section-content">
                <div class="row g-5 align-items-center justify-center flex-md-row flex-column-reverse">
                  <div class="col-md-7">
                    <div class="hr-block">
                      <div class="hr-block-heading">
                        <h3 class="title">{{x.our_commitment_to_government_title}}</h3>
                        <p class="sub-title">{{ x.our_commitment_to_government_desc }}</p>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-5">
                    <img class="img-fluid img-shadow ratio-h"
                      src="{{x.our_commitment_to_government_image.url}}" alt="Apostille Services">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- End Government Excellence Section  -->
      <!-- Service Section  -->
      <section id="service">
        <div class="container">
          <div class="row">
            <div class="col-md-12 m-auto">
              <div class="section-heading text-center">
                <h2 class="title">{{x.our_services_for_government_agencies_title}}</h2>
                <h5 class="sub-title">{{ x.our_services_for_government_agencies_description }}.</h5>
              </div>
              <div class="section-content">
                <div class="row mb-5 g-5 align-items-center justify-center flex-md-row flex-column-reverse">
                  <div class="col-md-7">
                    <div class="hr-list">
                      <div class="hr-list-heading">
                        <h3 class="title">{{x.hr_solutions_title}}</h3>
                        <p class="sub-title">{{ x.hr_solutions_desc }}</p>
                      </div>
                      <div class="hr-list-items">
                        <div class="hr-list-item">
                          <div class="icon">
                            <img class="img-fluid" src="{{x.benefits_management_buttonImage.url}}"
                              alt="Benefits Management">
                          </div>
                          <div class="content">
                            <h4 class="heading">{{x.benefits_management_title}}</h4>
                            <p class="text">{{x.benefits_management_description}}</p>
                          </div>
                        </div>
                        <div class="hr-list-item">
                          <div class="icon">
                            <img class="img-fluid" src="{{x.payroll_management_buttonImage.url}}"
                              alt="Payroll Management">
                          </div>
                          <div class="content">
                            <h4 class="heading">{{ x.payroll_management_title }}</h4>
                            <p class="text">{{x.payroll_management_description}}.</p>
                          </div>
                        </div>
                        <div class="hr-list-item">
                          <div class="icon">
                            <img class="img-fluid" src="{{x.special_projects_buttonImage.url}}"
                              alt="Special Projects">
                          </div>
                          <div class="content">
                            <h4 class="heading">{{x.special_projects_title}}</h4>
                            <p class="text">{{x.special_projects_description}}</p>
                          </div>
                        </div>
                        <div class="hr-list-item">
                          <div class="icon">
                            <img class="img-fluid" src="{{ x.staffing_recruitment_buttonImage.url }}"
                              alt="Staffing & Recruitment">
                          </div>
                          <div class="content">
                            <h4 class="heading">{{x.staffing_recruitment_title}}</h4>
                            <p class="text">{{ x.staffing_recruitment_description }}</p>
                          </div>
                        </div>
                        <div class="hr-list-item">
                          <div class="icon">
                            <img class="img-fluid" src="{{x.training_development_buttonImage.url}}"
                              alt="Training & Development">
                          </div>
                          <div class="content">
                            <h4 class="heading">{{x.training_development_title}}</h4>
                            <p class="text">{{x.training_development_description}}.</p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-5">
                    <img class="img-fluid img-shadow ratio-v" src="{{x.hr_solutions_buttonImage.url}}"
                      alt="HR Solutions">
                  </div>
                </div>
                <div class="row  g-5 align-items-center justify-center">
                  <div class="col-md-5">
                    <img class="img-fluid img-shadow ratio-v"
                      src="{{x.professional_services_buttonImage.url }}" alt="Professional Services">
                  </div>
                  <div class="col-md-7">
                    <div class="hr-list">
                      <div class="hr-list-heading">
                        <h3 class="title">{{x.professional_services_section_title}}</h3>
                        <p class="sub-title">{{ x.professional_services_section_subtitle }}</p>
                      </div>
                      <div class="hr-list-items">
                        <div class="hr-list-item">
                          <div class="icon">
                            <img class="img-fluid" src="{{x.apostille_services_buttonImage.url}}"
                              alt="Apostille Services">
                          </div>
                          <div class="content">
                            <h4 class="heading">{{x.apostille_services_title}}</h4>
                            <p class="text">{{ x.apostille_services_description }}</p>
                          </div>
                        </div>
                        <div class="hr-list-item">
                          <div class="icon">
                            <img class="img-fluid" src="{{x.background_checks_buttonImage.url}}"
                              alt="Background Checks">
                          </div>
                          <div class="content">
                            <h4 class="heading">{{x.background_checks_title}}</h4>
                            <p class="text">{{ x.background_checks_description }}</p>
                          </div>
                        </div>
                        <div class="hr-list-item">
                          <div class="icon">
                            <img class="img-fluid" src="{{x.document_notarization_buttonImage.url}}"
                              alt="Document Notarization">
                          </div>
                          <div class="content">
                            <h4 class="heading">{{x.document_notarization_title}}</h4>
                            <p class="text">{{x.document_notarization_description}} </p>
                          </div>
                        </div>
                        <div class="hr-list-item">
                          <div class="icon">
                            <img class="img-fluid" src="{{x.document_notarization_buttonImage.url}}"
                              alt="Document Translation">
                          </div>
                          <div class="content">
                            <h4 class="heading">{{x.document_notarization_title}}</h4>
                            <p class="text">{{ x.document_notarization_description }}</p>
                          </div>
                        </div>
                        <div class="hr-list-item">
                          <div class="icon">
                            <img class="img-fluid" src="{{x.document_translation_buttonImage.url}}"
                              alt="fingerprinting Services">
                          </div>
                          <div class="content">
                            <h4 class="heading">{{x.document_translation_title}}</h4>
                            <p class="text">{{ x.document_translation_description }}</p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- End Service Section  -->
      <!-- Why Choose Section  -->
      <section id="why_choose">
        <div class="container">
          <div class="row g-5 align-items-center justify-center">
            <div class="col-md-5">
              <img class="img-fluid img-shadow ratio-v" src="{{ x.why_choose_section_image.url }}"
                alt="Why Choose Right HR Solutions">
            </div>
            <div class="col-md-7">
              <div class="section-heading">
                <h2 class="title">{{x.why_choose_section_title}}</h2>
              </div>
              <div class="section-content">
                <div class="hr-list">
                  <div class="hr-list-items">
                    <div class="hr-list-item">
                      <div class="icon">
                        <img class="img-fluid" src="{{x.expert_hr_guidance_section_images.url}}"
                          alt="Expert HR Guidance">
                      </div>
                      <div class="content">
                        <h4 class="heading">{{x.expert_hr_guidance_section_title}}</h4>
                        <p class="text">{{x.expert_hr_guidance_section_desc}}.</p>
                      </div>
                    </div>
                    <div class="hr-list-item">
                      <div class="icon">
                        <img class="img-fluid" src="{{x.efficiency_compliance_section_image.url}}"
                          alt="Efficiency & Compliance">
                      </div>
                      <div class="content">
                        <h4 class="heading">{{x.efficiency_compliance_section_title}}</h4>
                        <p class="text">{{x.efficiency_compliance_section_desc }}</p>
                      </div>
                    </div>
                    <div class="hr-list-item">
                      <div class="icon">
                        <img class="img-fluid" src="{{x.costomized_solution_section_image.url}}"
                          alt="Customized Solutions">
                      </div>
                      <div class="content">
                        <h4 class="heading">{{x.costomized_solution_section_title}}</h4>
                        <p class="text">{{x.costomized_solution_section_desc}}</p>
                      </div>
                    </div>
                    <div class="hr-list-item">
                      <div class="icon">
                        <img class="img-fluid" src="{{x.customer_satisfaction_section_image.url}}"
                          alt="Customer Satisfaction">
                      </div>
                      <div class="content">
                        <h4 class="heading">{{x.customer_satisfaction_section_title}}</h4>
                        <p class="text">{{x.customer_satisfaction_section_desc}}
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- End Why Choose Section  -->
      <!-- Get Started Section  -->
      <section id="get_started">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <div class="get-started-block text-center">
                <div class="section-heading">
                  <h3 class="title">{{x.government_partnerships_tit}}</h3>
                  <h5 class="sub-title">{{ x.government_partnerships_des }}</h5>
                </div>
                <!-- Button trigger modal -->
                <button type="button" class="btn btn-big" data-bs-toggle="modal"
                  data-bs-target="#GovernmentServiceBook">
                  Book a Service
                </button>
              </div>
            </div>
          </div>
        </div>
      </section>

      <!-- Modal -->
      <div class="modal fade" id="GovernmentServiceBook" tabindex="-1" aria-labelledby="GovernmentServiceBook"
        aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable">
          <div class="modal-content">
            <div class="modal-body">
              <div class="container-fluid">
                <div class="row">
                  <div class="appointment-form-wrapper">
                    <div class="appointment-form">
                      <form method="get" action="/thank-you.html" class="needs-validation" novalidate>
                        <div class="appointment-form-section">
                          <div class="form-heading">
                            <h3 class="title">Schedule Your Appointment</h3>
                            <h6 class="sub-title">Simply choose the service you need, select a date and time that fits your
                              schedule, and confirm your booking. We look forward to
                              serving you!</h6>
                          </div>
                          <div class="form-body">
                            <div class="row g-3">
                              <div class="col-12 col-sm-12 col-md-5">
                                <label for="country" class="form-label">Select a Service</label>
                                <select class="form-select" id="country" required>
                                  <option value="">Choose a services...</option>
                                  <option value="">Apostille Services</option>
                                  <option value="">Background Checks</option>
                                  <option value="">Benefits Management</option>
                                  <option value="">Document Notarization</option>
                                  <option value="">Document Translation</option>
                                  <option value="">Fingerprinting Services</option>
                                  <option value="">Payroll Management</option>
                                  <option value="">Special Projects</option>
                                  <option value="">Staffing & Recruitment</option>
                                  <option value="">Training & Development</option>
                                </select>
                                <div class="invalid-feedback">Select a service. </div>
                              </div>
                              <div class="col-7 col-sm-7 col-md-4">
                                <label for="pickDate" class="form-label">Set Date</label>
                                <input type="date" class="form-control" id="pickDate" placeholder="" value=""
                                  required>
                                <div class="invalid-feedback">Select a date. </div>
                              </div>
                              <div class="col-5 col-sm-5 col-md-3">
                                <label for="pickTime" class="form-label">Set Time</label>
                                <select class="form-control" id="pickTime" required>
                                  <option value="">Select a time</option>
                                </select>
                                <div class="invalid-feedback">Select between 8:00 AM and 6:00 PM.</div>
                              </div>
                              <div class="col-12">
                                <label for="yourName" class="form-label">Name</label>
                                <input type="text" class="form-control" id="yourName" placeholder="" value="" required>
                                <div class="invalid-feedback">Name is required.</div>
                              </div>
                              <div class="col-12 col-sm-6">
                                <label for="emailAddress" class="form-label">Email</label>
                                <input type="email" class="form-control" id="emailAddeass" placeholder="" value="" required>
                                <div class="invalid-feedback">Enter valid email. </div>
                              </div>
                              <div class="col-12 col-sm-6">
                                <label for="phoneNumber" class="form-label">Phone</label>
                                <input type="tel" class="form-control" id="phoneNumber" placeholder="" value=""
                                  required>
                                <div class="invalid-feedback">Enter phone number. </div>
                              </div>
                              <div class="col-12">
                                <label for="address" class="form-label">Address</label>
                                <input type="text" class="form-control" id="address" placeholder="" value="" required>
                                <div class="invalid-feedback">Enter your address. </div>
                              </div>
                              <div class="col-12">
                                <label for="commentsQuestions" class="form-label">Comments or Questions <span
                                    class="small">(Optional)</span>
                                </label>
                                <textarea class="form-control" id="commentsQuestions"
                                  placeholder="" value=""></textarea>
                                <div class="invalid-feedback">Enter your comments or questions. </div>
                              </div>
                              <div class="col-12">
                                <div class="form-check">
                                  <input type="checkbox" class="form-check-input" id="acceptTermsConditions" required>
                                  <label class="form-check-label" for="acceptTermsConditions">I do accept the <a
                                      href="/terms-conditions.html">Terms and Conditions</a>
                                  </label>
                                  <div class="invalid-feedback">You must accept the terms and conditions. </div>
                                </div>
                              </div>
                            </div>
                          </div>
                          <button class="mt-4 btn btn-big" type="submit" id="submitButton" disabled>Book Now</button>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- End Get Started Section  -->
    </main>
    <!-- End Main Body -->
    {% endfor %}
    {% endblock content %}