{% extends "base.html" %}
{% load static %}
{% block title %}Right HR Solutions – HR Solutions & Professional Services{% endblock title %}

 {% block content %}
   {% for x in hr_solution %}
       <!-- Main Body -->
      <main class="main">
        <!-- Page Title  -->
        <section id="page_header" class="page-header d-flex align-items-center justify-center" style="background-image: url({{x.hero_button_image.url}});">
          <div class="overlay"></div>
          <div class="container">
            <div class="row d-flex align-items-center justify-center">
              <div class="col-md-5 page-header-content">
                <h1 class="page-title">{{x.hero_title}}</h1>
                <h5 class="text">{{ x.hero_text }}</h5>
              </div>
            </div>
            <!-- End row -->
            <!-- End container -->
        </section>
        <!-- End Page Title  -->
        <!-- Service Expand Section  -->
        <section id="service_expand">
          <div class="container">
            <div class="row">
              <div class="col-md-12 m-auto">
                <div class="section-heading text-center">
                  <h2 class="title">{{x.comprehensive_professional_services_title}}</h2>
                  <h5 class="sub-title"> {{x.comprehensive_professional_services_desc }}</h5>
                </div>
                <div class="section-content">
                  <div id="Benefits_Management" class="row mb-5 g-4 g-md-5 align-items-center justify-center flex-md-row flex-column-reverse service-row">
                    <div class="col-md-7">
                      <div class="hr-block">
                        <div class="hr-block-heading">
                          <h3 class="title">{{x.employee_benefits_management_title}}</h3>
                          <p class="sub-title">{{x.employee_benefits_management_desc}}</p>
                        </div>
                        <div class="hr-block-content">
                          <h4 class="title">{{x.benefits_management_cover}}</h4>
                          <ul class="list">
                            <li class="list-item">{{x.health_insurance}}</li>
                            <li class="list-item">{{x.paid_time_off}}</li>
                            <li class="list-item">{{x.employee_wellness}}</li>
                          </ul>
                          <a href="/place-order.html?category=Benefits_Management" class="btn">Inquire Now <i class="bi bi-arrow-right"></i>
                          </a>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-5">
                      <img class="img-fluid img-shadow ratio-h" src="{{x.employee_benefits_management_image.url}}" alt="Benefits Management">
                    </div>
                  </div>
                  <div id="Payroll_Management" class="row  mb-5 g-4 g-md-5 align-items-center justify-center service-row">
                    <div class="col-md-5">
                      <img class="img-fluid img-shadow ratio-h" src="{{x.payroll_management_image.url}}" alt="Payroll Management">
                    </div>
                    <div class="col-md-7">
                      <div class="hr-block">
                        <div class="hr-block-heading">
                          <h3 class="title">{{x.payroll_management_title}}</h3>
                          <p class="sub-title">{{x.payroll_management_desc}}</p>
                        </div>
                        <div class="hr-block-content">
                          <h4 class="title">{{x.payroll_services}}</h4>
                          <ul class="list">
                            <li class="list-item">{{x.accurate_payroll}}</li>
                            <li class="list-item">{{x.tax_compliance_and_reporting}}</li>
                            <li class="list-item">{{x.employment_compensation}}</li>
                          </ul>
                          <a href="/place-order.html?category=Payroll_Management" class="btn">Inquire Now <i class="bi bi-arrow-right"></i>
                          </a>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div id="Special_HR_Project" class="row mb-5 g-4 g-md-5 align-items-center justify-center flex-md-row flex-column-reverse service-row">
                    <div class="col-md-7">
                      <div class="hr-block">
                        <div class="hr-block-heading">
                          <h3 class="title">{{x.special_HR_project_title}}</h3>
                          <p class="sub-title">{{x.special_HR_project_desc}}.</p>
                        </div>
                        <div class="hr-block-content">
                          <h4 class="title">{{x.what_we_offer}}</h4>
                          <ul class="list">
                            <li class="list-item">{{x.employee_handbook}}</li>
                            <li class="list-item">{{x.hR_policy_development}}</li>
                            <li class="list-item">{{x.employee_engagement}}</li>
                          </ul>
                          <a href="/place-order.html?category=Special_HR_Project" class="btn">Inquire Now <i class="bi bi-arrow-right"></i>
                          </a>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-5">
                      <img class="img-fluid img-shadow ratio-h" src="{{x.special_HR_project_image.url}}" alt="Special HR Projects">
                    </div>
                  </div>
                  <div id="Staffing_Recruitment" class="row mb-5 g-4 g-md-5 align-items-center justify-center service-row">
                    <div class="col-md-5">
                      <img class="img-fluid img-shadow ratio-h" src="{{x.staffing_recruitment_image.url}}" alt="Staffing & Recruitment">
                    </div>
                    <div class="col-md-7">
                      <div class="hr-block">
                        <div class="hr-block-heading">
                          <h3 class="title">{{x.staffing_recruitment_title}}</h3>
                          <p class="sub-title">{{ x.staffing_recruitment_desc }}</p>
                        </div>
                        <div class="hr-block-content">
                          <h4 class="title">{{x.what_we_offer_staffing}}</h4>
                          <ul class="list">
                            <li class="list-item">{{x.comprehensive_candidate}}</li>
                            <li class="list-item">{{x.talent_matching_based}}</li>
                            <li class="list-item">{{x.recruitment_for_both}}</li>
                          </ul>
                          <a href="/place-order.html?category=Staffing_Recruitment" class="btn">Inquire Now <i class="bi bi-arrow-right"></i>
                          </a>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div id="Training_Development" class="row g-4 g-md-5 align-items-center justify-center flex-md-row flex-column-reverse service-row">
                    <div class="col-md-7">
                      <div class="hr-block">
                        <div class="hr-block-heading">
                          <h3 class="title">{{x.training_development_title}}</h3>
                          <p class="sub-title">{{ x.training_development_desc }}</p>
                        </div>
                        <div class="hr-block-content">
                          <h4 class="title">{{x.our_training_programs_include}}</h4>
                          <ul class="list">
                            <li class="list-item">{{x.Leadership}}</li>
                            <li class="list-item">{{x.compliance_and_regulatory}}</li>
                            <li class="list-item">{{x.skills_training_for_it}}</li>
                          </ul>
                          <a href="/place-order.html?category=Training_Development" class="btn">Inquire Now <i class="bi bi-arrow-right"></i>
                          </a>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-5">
                      <img class="img-fluid img-shadow ratio-h" src="{{x.training_development_image.url }}" alt="Training & Development">
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
        <!-- End Service Section  -->
        <!-- Quick Service Section  -->
        <section id="quick_service">
          <div class="container">
            <div class="row">
              <div class="col-md-12 m-auto text-center">
                <div class="section-heading">
                  <h2 class="title">{{x.comprehensive_professional_title}}</h2>
                  <h5 class="sub-title"> {{x.comprehensive_professional_desc}}</h5>
                </div>
                <div class="section-content">
                  <div class="quick-service-grid text-center">
                    <div class="grid-item">
                      <a class="grid-item-link" href="/professional-services.html#Apostille_Service">
                        <img class="img-fluid img-shadow ratio-h" src="{{x.apsotille_section_section_image.url}}" alt="Apostille Services">
                        <h4 class="heading">{{x.apsotille_section_title}}</h4>
                      </a>
                    </div>
                    <div class="grid-item">
                      <a class="grid-item-link" href="/professional-services.html#Background_Check">
                        <img class="img-fluid img-shadow ratio-h" src="{{x.background_check_section_images.url}}" alt="Background Checks">
                        <h4 class="heading">{{x.background_check_section_title}}</h4>
                      </a>
                    </div>
                    <div class="grid-item">
                      <a class="grid-item-link" href="/professional-services.html#Document_Notarization">
                        <img class="img-fluid img-shadow ratio-h" src="{{x.document_notarization_section_image.url}}" alt="
                                                Document Notarization">
                        <h4 class="heading"> {{x.document_notarization_section_title}}</h4>
                      </a>
                    </div>
                    <div class="grid-item">
                      <a class="grid-item-link" href="/professional-services.html#Document_Translation">
                        <img class="img-fluid img-shadow ratio-h" src="{{x.document_translations_section_image.url}}" alt="Document Translation">
                        <h4 class="heading">{{x.document_translations_section_title}}</h4>
                      </a>
                    </div>
                    <div class="grid-item">
                      <a class="grid-item-link" href="/professional-services.html#Fingerprinting_Service">
                        <img class="img-fluid img-shadow ratio-h" src="{{x.fingerprint_services_section_image.url}}" alt="Fingerprinting Services">
                        <h4 class="heading">{{x.fingerprint_services_section_title}}</h4>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
        <!-- End Quick Service Section  -->
        <!-- Why Choose Section  -->
        <section id="why_choose">
          <div class="container">
            <div class="row g-5 align-items-center justify-center">
              <div class="col-md-5">
                <img class="img-fluid img-shadow ratio-v" src="{{x.why_choose_section_image.url}}" alt="Why Choose Right HR Solutions">
              </div>
              <div class="col-md-7">
                <div class="section-heading">
                  <h2 class="title">{{x.why_choose_section_title}}</h2>
                </div>
                <div class="section-content">
                  <div class="hr-list">
                    <div class="hr-list-items">
                      <div class="hr-list-item">
                        <div class="icon">
                          <img class="img-fluid" src="{{x.expert_hr_guidance_section_images.url}}" alt="Expert HR Guidance">
                        </div>
                        <div class="content">
                          <h4 class="heading">{{x.expert_hr_guidance_section_title}}</h4>
                          <p class="text">{{ x.expert_hr_guidance_section_desc }}</p>
                        </div>
                      </div>
                      <div class="hr-list-item">
                        <div class="icon">
                          <img class="img-fluid" src="{{x.efficiency_compliance_section_image.url}}" alt="Efficiency & Compliance">
                        </div>
                        <div class="content">
                          <h4 class="heading">{{x.efficiency_compliance_section_title}}</h4>
                          <p class="text">{{ x.efficiency_compliance_section_desc }}.</p>
                        </div>
                      </div>
                      <div class="hr-list-item">
                        <div class="icon">
                          <img class="img-fluid" src="{{ x.costomized_solution_section_image.url }}" alt="Customized Solutions">
                        </div>
                        <div class="content">
                          <h4 class="heading">{{x.costomized_solution_section_title}}</h4>
                          <p class="text">{{ x.costomized_solution_section_desc }}</p>
                        </div>
                      </div>
                      <div class="hr-list-item">
                        <div class="icon">
                          <img class="img-fluid" src="{{x.customer_satisfaction_section_image.url}}" alt="Customer Satisfaction">
                        </div>
                        <div class="content">
                          <h4 class="heading">{{x.customer_satisfaction_section_title}}</h4>
                          <p class="text">{{ x.customer_satisfaction_section_desc }}.</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
        <!-- End Why Choose Section  -->
        <!-- Get Started Section  -->
        <section id="get_started">
          <div class="container">
            <div class="row">
              <div class="col-md-12">
                <div class="get-started-block text-center">
                  <div class="section-heading">
                    <h3 class="title">{{x.get_started_with_right_title}}</h3>
                    <h5 class="sub-title">{{ x.get_started_with_right_desc }}.</h5>
                  </div>
                  <a href="/appoinment.html" class="btn btn-big">Schedule a Free Consultation</a>
                </div>
              </div>
            </div>
          </div>
        </section>
        <!-- End Get Started Section  -->
      </main>
      {% endfor %}
      {% endblock content %}