{% extends "base.html" %}
{% load static %}
{% block title %}Right HR Solutions – HR Solutions & Professional Services{% endblock title %}

 {% block content %}
      <section id="hero" class="hero-banner d-flex align-items-center justify-center">
        <div class="container">
          <div class="row g-5 d-flex align-items-center justify-center">
            <div class="col-md-5 banner-content">
              <h1 class="hero-title">{{ page.pageHeading }}</h1>
              <h4 class="hero-text">{{ page.pageDescription|safe }}</h4>
              <a href="/appoinment" class="btn btn-big hero-btn">Book Appointments</a>
            </div>
            <div class="col-md-7 banner-img">
              <img class="img-fluid" src="{{ page.pageBanner.url }}"  alt="HR Solutions & Professional Services">
            </div>
          </div>
          <!-- End row -->
          <!-- End container -->
      </section>
      <!-- End Hero -->
      <!-- Video Section  -->
      <section id="video">
        <div class="container">
          <div class="row">
            <div class="col-md-7 m-auto text-center">
              <div class="section-heading">
                <h2 class="title">How Does Right HR Solutions Work?</h2>
                <h5 class="sub-title">We make it easy for businesses and individuals to access our wide range of HR and
                  legal services. Our streamlined approach ensures that you get the support you need quickly and
                  efficiently.</h5>
              </div>
              <div class="section-content text-center">
                <div class="video-content">
                  <div id="videoThumb" class="vido-thumb"> 
                    <img class="video-background"  src="{% static 'assets/img/image/video-bg.png' %}" 
                      alt="How Does Right HR Solutions Work" id="videoImage">
                    <div class="video-play">
                      <button class="btn-play" id="playButton">
                        <i class="bi bi-play-fill"></i>
                      </button>
                    </div>
                  </div>
                  <div id="videoPlayer" class="video-player">  
                    <video id="videoControl" controls loop>
                      <source src="{% static 'assets/video/about-right-hr-solutions-video.mp4' %}"  type="video/mp4">
                    </video>
                    <button id="videoCloseBtn" class="btn close-btn" type="submit">&times;</button>
                  </div>
                </div>
                <a href="/about" class="btn btn-big mt-5">Learn More</a>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- End Video Section  -->
      <!-- Service Section  -->
      <section id="service">
        <div class="container">
          <div class="row">
            <div class="col-md-12 m-auto">
              <div class="section-heading text-center">
                <h2 class="title">Empowering Your Business with Tailored HR Solutions</h2>
                <h5 class="sub-title">At Right HR Solutions, we are dedicated to helping your business thrive by
                  offering customized and comprehensive HR services designed to meet your specific needs.</h5>
              </div>
              {% for item in content %}
            <div class="row mb-5 g-4 g-md-5 align-items-center justify-center
              {% if forloop.counter|divisibleby:2 %}flex-md-row-reverse{% else %}flex-md-row{% endif %}">

          <!-- Content Section (Left or Right depending on the loop) -->
          <div class="col-md-7">
            <div class="hr-list">
              <div class="hr-list-heading">
                <h3 class="title">{{ item.contentHeading }}</h3>
                <p class="sub-title">{{ item.contentDescription|safe }}</p>
              </div>
              <div class="hr-list-items">
                {% for subcontent in item.sub_contents.all %}
                  <div class="hr-list-item">
                    <div class="icon">
                      <img class="img-fluid" src="{{ subcontent.subContentImage.url }}" alt="{{ subcontent.sub_contentHeading }}">
                    </div>
                    <div class="content">
                      <h4 class="heading">{{ subcontent.sub_contentHeading }}</h4>
                      <p class="text">{{ subcontent.subContent }}</p>
                    </div>
                  </div>
                {% endfor %}
              </div>
            </div>
          </div>

    <!-- Image Section (Right or Left depending on the loop) -->
    <div class="col-md-5">
      <img class="img-fluid img-shadow ratio-v" src="{{ item.contentImage.url }}" alt="{{ item.title }}">
    </div>

  </div>
{% endfor %}

            </div>

<!--          <div class="row mb-5 g-4 g-md-5 align-items-center justify-center flex-md-row flex-column-reverse">-->
<!--                  <div class="col-md-7">-->
<!--                    <div class="hr-list">-->
<!--                      <div class="hr-list-heading">-->
<!--                        <h3 class="title">HR Solutions</h3>-->
<!--                        <p class="sub-title">In addition to our HR expertise, we offer a range of legal services to-->
<!--                          streamline your operations and ensure compliance:</p>-->
<!--                      </div>-->
<!--                      <div class="hr-list-items">-->
<!--                        <div class="hr-list-item">-->
<!--                          <div class="icon">-->
<!--                            <img class="img-fluid" src="{% static 'assets/img/icons/hr-icon-benefits-managemnet.svg' %}"-->
<!--                              alt="Benefits Management">-->
<!--                          </div>-->
<!--                          <div class="content">-->
<!--                            <h4 class="heading">Benefits Management</h4>-->
<!--                            <p class="text">Attract and retain top talent by offering competitive benefits packages. We-->
<!--                              help you design and manage a benefits program that keeps your employees satisfied and-->
<!--                              engaged.</p>-->
<!--                          </div>-->
<!--                        </div>-->
<!--                        <div class="hr-list-item">-->
<!--                          <div class="icon">-->
<!--                            <img class="img-fluid" src="{% static 'assets/img/icons/hr-icon-payroll-management.svg' %}"-->
<!--                              alt="Payroll Management">-->
<!--                          </div>-->
<!--                          <div class="content">-->
<!--                            <h4 class="heading">Payroll Management</h4>-->
<!--                            <p class="text">Our accurate and efficient payroll processing ensures full compliance with-->
<!--                              tax regulations, so you can focus on running your business without worry.</p>-->
<!--                          </div>-->
<!--                        </div>-->
<!--                        <div class="hr-list-item">-->
<!--                          <div class="icon">-->
<!--                            <img class="img-fluid" src="{% static 'assets/img/icons/hr-icon-special-project.svg' %}"-->
<!--                              alt="Special Projects">-->
<!--                          </div>-->
<!--                          <div class="content">-->
<!--                            <h4 class="heading">Special Projects</h4>-->
<!--                            <p class="text">Facing unique HR challenges? We provide expert guidance on one-time or-->
<!--                              recurring special projects, tailored to your organization’s needs.</p>-->
<!--                          </div>-->
<!--                        </div>-->
<!--                        <div class="hr-list-item">-->
<!--                          <div class="icon">-->
<!--                            <img class="img-fluid"  src="{% static 'assets/img/icons/hr-icon-staffing-recruitment.svg' %}"-->
<!--                              alt="Staffing & Recruitment">-->
<!--                          </div>-->
<!--                          <div class="content">-->
<!--                            <h4 class="heading">Staffing & Recruitment</h4>-->
<!--                            <p class="text">Find and recruit the perfect talent to drive your business forward. We focus-->
<!--                              on matching skilled professionals to your needs, ensuring a seamless hiring process.</p>-->
<!--                          </div>-->
<!--                        </div>-->
<!--                        <div class="hr-list-item">-->
<!--                          <div class="icon">-->
<!--                            <img class="img-fluid"  src="{% static 'assets/img/icons/hr-icon-trainning-development.svg' %}"-->
<!--                              alt="Training & Development">-->
<!--                          </div>-->
<!--                          <div class="content">-->
<!--                            <h4 class="heading">Training & Development</h4>-->
<!--                            <p class="text">Help your employees grow with tailored training programs designed to boost-->
<!--                              skills and productivity. Empower your team to succeed with professional development-->
<!--                              opportunities.</p>-->
<!--                          </div>-->
<!--                        </div>-->
<!--                      </div>-->
<!--                    </div>-->
<!--                  </div>-->
<!--                  <div class="col-md-5">-->
<!--                    <img class="img-fluid img-shadow ratio-v"  src="{% static 'assets/img/image/hr-solutions.png' %}"-->
<!--                      alt="HR Solutions">-->
<!--                  </div>-->
<!--                </div>-->
      </section>
      <section id="why_choose">
          <div class="container">
            <div class="row g-5 align-items-center justify-center">
              {% for item in why_we_choose %}
            <div class="row mb-5 g-4 g-md-5 align-items-center justify-center
              {% if forloop.counter|divisibleby:2 %}flex-md-row-reverse{% else %}flex-md-row{% endif %}">

              <div class="col-md-5">
                <img class="img-fluid img-shadow ratio-v" src="{{ item.contentImage.url }}" alt="Why Choose Right HR Solutions">

              </div>
              <div class="col-md-7">
                <div class="section-heading">
                  <h2 class="title">{{ item.contentHeading }}</h2>
                </div>
                <div class="section-content">
                  <div class="hr-list">
                    <div class="hr-list-items">
                      {% for subcontent in item.sub_contents.all %}
                      <div class="hr-list-item">
                        <div class="icon">
                          <img class="img-fluid"src="{{ subcontent.subContentImage.url }}" alt="{{ subcontent.sub_contentHeading }}">
                        </div>
                        <div class="content">
                          <h4 class="heading">{{ subcontent.sub_contentHeading }}</h4>
                          <p class="text">{{ subcontent.subContent }}</p>
                        </div>
                      </div>
<!--                      <div class="hr-list-item">-->
<!--                        <div class="icon">-->
<!--                          <img class="img-fluid"  src="{% static 'assets/img/icons/why-choose-icon-efficiency.svg' %}" alt="Efficiency & Compliance">-->
<!--                        </div>-->
<!--                        <div class="content">-->
<!--                          <h4 class="heading">Efficiency & Compliance</h4>-->
<!--                          <p class="text">Whether it's HR, fingerprinting, or notary services, we ensure everything is handled quickly and in full compliance with regulations.</p>-->
<!--                        </div>-->
<!--                      </div>-->
<!--                      <div class="hr-list-item">-->
<!--                        <div class="icon">-->
<!--                          <img class="img-fluid"  src="{% static 'assets/img/icons/why-choose-icon-customized.svg' %}" alt="Customized Solutions">-->
<!--                        </div>-->
<!--                        <div class="content">-->
<!--                          <h4 class="heading">Customized Solutions</h4>-->
<!--                          <p class="text">Every business is unique. We offer tailored solutions that align with your business needs, ensuring that you receive the highest level of service.</p>-->
<!--                        </div>-->
<!--                      </div>-->
<!--                      <div class="hr-list-item">-->
<!--                        <div class="icon">-->
<!--                          <img class="img-fluid"  src="{% static 'assets/img/icons/why-choose-icon-satisfaction.svg' %}" alt="Customer Satisfaction">-->
<!--                        </div>-->
<!--                        <div class="content">-->
<!--                          <h4 class="heading">Customer Satisfaction</h4>-->
<!--                          <p class="text">We pride ourselves on delivering high-quality service and maintaining long-term relationships with our clients. Our goal is to make your HR and legal processes stress-free.</p>-->
<!--                        </div>-->
<!--                      </div>-->
                      {% endfor %}
                    </div>
                  </div>
                </div>
              </div>
            </div>
              {% endfor %}
          </div>
        </section>
      <!-- End Why Choose Section  -->
      <!-- Get Started Section  -->
        <div>
      <section id="get_started">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <div class="get-started-block text-center">
                <div class="section-heading">
                  <h3 class="title">Get Started On The Path To Success.</h3>
                  <h5 class="sub-title">Whether you’re a business looking for staffing solutions, an individual in need
                    of legal services, or an organization seeking background checks, we’ve got you covered.</h5>
                </div>
                <a href="/appoinment" class="btn btn-big">Book Appointments</a>
              </div>
            </div>
          </div>
        </div>
      </section>
        </div>
        <!-- End Get Started Section  -->
    </main>
    <!-- End Main Body -->
    <!-- Footer Section -->

    {% endblock content %}
    <!-- Footer Bottom Section -->
   