{% extends "base.html" %}
{% load static %}
{% block title %}Right HR Solutions – HR Solutions & Professional Services{% endblock title %}

 {% block content %}
     {% for x in home_list %}
      <main class="main">
      <!-- Hero -->
      <section id="hero" class="hero-banner d-flex align-items-center justify-center">
        <div class="container">
          <div class="row g-5 d-flex align-items-center justify-center">
            <div class="col-md-5 banner-content">
              <h1 class="hero-title">{{x.hero_title}}</h1>
              <h4 class="hero-text">{{ x.hero_des }}</h4>
              <a href="/appoinment.html" class="btn btn-big hero-btn">Book Appointments</a>
            </div>
            <div class="col-md-7 banner-img">
              <img class="img-fluid" src="{{x.hero_buttonImage.url}}" alt="HR Solutions & Professional Services">
            </div>
          </div>
          <!-- End row -->
          <!-- End container -->
      </section>
      <!-- End Hero -->
      <!-- Video Section  -->
      <section id="video">
        <div class="container">
          <div class="row">
            <div class="col-md-7 m-auto text-center">
              <div class="section-heading">
                <h2 class="title">{{x.video_section_title}}</h2>
                <h5 class="sub-title">{{x.video_section_des}}</h5>
              </div>
              <div class="section-content text-center">
                <div class="video-content">
                  <div id="videoThumb" class="vido-thumb">
                    <img class="video-background" src="{{ x.video_button_image.url }}"
                      alt="How Does Right HR Solutions Work" id="videoImage">
                    <div class="video-play">
                      <button class="btn-play" id="playButton">
                        <i class="bi bi-play-fill"></i>
                      </button>
                    </div>
                  </div>
                  <div id="videoPlayer" class="video-player">
                    <video id="videoControl" controls loop>
                      <source src="{{ x.video_button_text.url }}" type="video/mp4">
                    </video>
                    <button id="videoCloseBtn" class="btn close-btn" type="submit">&times;</button>
                  </div>
                </div>
                <a href="/about-us.html" class="btn btn-big mt-5">Learn More</a>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- End Video Section  -->
      <!-- Service Section  -->
      <section id="service">
        <div class="container">
          <div class="row">
            <div class="col-md-12 m-auto">
              <div class="section-heading text-center">
                <h2 class="title">{{x.service_section_title}}</h2>
                <h5 class="sub-title">{{x.service_section_desc}}</h5>
              </div>
              <div class="section-content">
                <div class="row mb-5 g-4 g-md-5 align-items-center justify-center flex-md-row flex-column-reverse">
                  <div class="col-md-7">
                    <div class="hr-list">
                      <div class="hr-list-heading">
                        <h3 class="title">{{x.hr_solutions_title}}</h3>
                        <p class="sub-title">{{x.hr_solutions_desc}}</p>
                      </div>
                      <div class="hr-list-items">
                        <div class="hr-list-item">
                          <div class="icon">
                            <img class="img-fluid" src="{{x.benefits_management_buttonImage.url}}"
                              alt="Benefits Management">
                          </div>
                          <div class="content">
                            <h4 class="heading">{{x.benefits_management_title}}</h4>
                            <p class="text">{{x.benefits_management_description}}</p>
                          </div>
                        </div>
                        <div class="hr-list-item">
                          <div class="icon">
                            <img class="img-fluid" src="{{x.payroll_management_buttonImage.url}}"
                              alt="Payroll Management">
                          </div>
                          <div class="content">
                            <h4 class="heading">{{x.payroll_management_title}}</h4>
                            <p class="text">{{x.payroll_management_description}}</p>
                          </div>
                        </div>
                        <div class="hr-list-item">
                          <div class="icon">
                            <img class="img-fluid" src="{{x.special_projects_buttonImage.url}}"
                              alt="Special Projects">
                          </div>
                          <div class="content">
                            <h4 class="heading">{{x.special_projects_title}}</h4>
                            <p class="text">{{x.special_projects_description}}.</p>
                          </div>
                        </div>
                        <div class="hr-list-item">
                          <div class="icon">
                            <img class="img-fluid" src="{{x.staffing_recruitment_buttonImage.url}}"
                              alt="Staffing & Recruitment">
                          </div>
                          <div class="content">
                            <h4 class="heading">{{x.staffing_recruitment_title}}</h4>
                            <p class="text">{{x.staffing_recruitment_description}}</p>
                          </div>
                        </div>
                        <div class="hr-list-item">
                          <div class="icon">
                            <img class="img-fluid" src="{{x.training_development_buttonImage.url}}"
                              alt="Training & Development">
                          </div>
                          <div class="content">
                            <h4 class="heading">{{x.training_development_title}}</h4>
                            <p class="text">{{ x.training_development_description }}.</p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-5">
                    <img class="img-fluid img-shadow ratio-v" src="{{x.hr_solutions_buttonImage.url}}"
                      alt="HR Solutions">
                  </div>
                </div>
                <div class="row  g-4 g-md-5 align-items-center justify-center">
                  <div class="col-md-5">
                    <img class="img-fluid img-shadow ratio-v" src="{{x.professional_services_buttonImage.url}}"
                      alt="Professional Services">
                  </div>
                  <div class="col-md-7">
                    <div class="hr-list">
                      <div class="hr-list-heading">
                        <h3 class="title">{{x.professional_services_section_title}}</h3>
                        <p class="sub-title">{{x.professional_services_section_subtitle}}.</p>
                      </div>
                      <div class="hr-list-items">
                        <div class="hr-list-item">
                          <div class="icon">
                            <img class="img-fluid" src="{{x.apostille_services_buttonImage.url}}"
                              alt="Apostille Services">
                          </div>
                          <div class="content">
                            <h4 class="heading">{{x.apostille_services_title}}</h4>
                            <p class="text">{{x.apostille_services_description}}</p>
                          </div>
                        </div>
                        <div class="hr-list-item">
                          <div class="icon">
                            <img class="img-fluid" src="{{x.background_checks_buttonImage.url}}"
                              alt="Background Checks">
                          </div>
                          <div class="content">
                            <h4 class="heading">{{x.background_checks_title}}</h4>
                            <p class="text">{{x.background_checks_description}}</p>
                          </div>
                        </div>
                        <div class="hr-list-item">
                          <div class="icon">
                            <img class="img-fluid" src="{{x.document_notarization_buttonImage.url}}"
                              alt="Document Notarization">
                          </div>
                          <div class="content">
                            <h4 class="heading">{{x.document_notarization_title}}</h4>
                            <p class="text">{{x.document_notarization_description}} </p>
                          </div>
                        </div>
                        <div class="hr-list-item">
                          <div class="icon">
                            <img class="img-fluid" src="{{x.document_translation_buttonImage.url}}"
                              alt="Document Translation">
                          </div>
                          <div class="content">
                            <h4 class="heading">{{x.document_translation_title}}</h4>
                            <p class="text">{{x.document_translation_description}}.</p>
                          </div>
                        </div>
                        <div class="hr-list-item">
                          <div class="icon">
                            <img class="img-fluid" src="{{x.fingerprinting_buttonImage.url}}"
                              alt="fingerprinting Services">
                          </div>
                          <div class="content">
                            <h4 class="heading">{{x.fingerprinting_services_title}}</h4>
                            <p class="text">{{x.fingerprinting_services_description}}.</p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- End Service Section  -->
      <!-- Why Choose Section  -->
      <section id="why_choose">
        <div class="container">
          <div class="row g-4 g-md-5 align-items-center justify-center">
            <div class="col-md-5">
              <img class="img-fluid img-shadow ratio-v" src="{{x.why_choose_section_image.url}}"
                alt="Why Choose Right HR Solutions">
            </div>
            <div class="col-md-7">
              <div class="section-heading">
                <h2 class="title">{{x.why_choose_section_title}}</h2>
              </div>
              <div class="section-content">
                <div class="hr-list">
                  <div class="hr-list-items">
                    <div class="hr-list-item">
                      <div class="icon">
                        <img class="img-fluid" src="{{x.expert_hr_guidance_section_images.url}}"
                          alt="Expert HR Guidance">
                      </div>
                      <div class="content">
                        <h4 class="heading">{{x.expert_hr_guidance_section_title}}</h4>
                        <p class="text">{{x.expert_hr_guidance_section_desc}}</p>
                      </div>
                    </div>
                    <div class="hr-list-item">
                      <div class="icon">
                        <img class="img-fluid" src="{{x.efficiency_compliance_section_image.url}}"
                          alt="Efficiency & Compliance">
                      </div>
                      <div class="content">
                        <h4 class="heading">{{x.efficiency_compliance_section_title}}</h4>
                        <p class="text">{{x.efficiency_compliance_section_desc}}</p>
                      </div>
                    </div>
                    <div class="hr-list-item">
                      <div class="icon">
                        <img class="img-fluid" src="{{x.costomized_solution_section_image.url}}"
                          alt="Customized Solutions">
                      </div>
                      <div class="content">
                        <h4 class="heading">{{x.costomized_solution_section_title}}</h4>
                        <p class="text">{{x.costomized_solution_section_desc}}</p>
                      </div>
                    </div>
                    <div class="hr-list-item">
                      <div class="icon">
                        <img class="img-fluid" src="{{x.customer_satisfaction_section_image.url}}"
                          alt="Customer Satisfaction">
                      </div>
                      <div class="content">
                        <h4 class="heading">{{x.get_started_section_title}}</h4>
                        <p class="text">{{x.get_started_section_desc}}
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- End Why Choose Section  -->
      <!-- Get Started Section  -->
      <section id="get_started">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <div class="get-started-block text-center">
                <div class="section-heading">
                  <h3 class="title">Get Started On The Path To Success.</h3>
                  <h5 class="sub-title">Whether you’re a business looking for staffing solutions, an individual in need
                    of legal services, or an organization seeking background checks, we’ve got you covered.</h5>
                </div>
                <a href="/appoinment.html" class="btn btn-big">Book Appointments</a>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- End Get Started Section  -->
    </main>
{% endfor %}
    {% endblock content %}
    <!-- Footer Bottom Section -->
