{% extends "base.html" %}
{% load static %}
{% block title %}Right HR Solutions – HR Solutions & Professional Services{% endblock title %}
<style>
  .bg-Dark{
 background: black;
 color: white;
 }
 .bg-White{
 background: white;
 }
#place_order .list-group-item-check:checked+.list-group-item {
    background-color: #fff !important;
    color: black !important;
}
  .file-names {
    margin-top: 10px;
}

#fileNames ul {
    padding: 0;
    list-style-type: none;
    margin: 0;
}

#fileNames ul li {
    margin: 5px 0;
    font-size: 14px;
}

#documentsNumber:hover + #fileNames {
    display: block;
}


</style>

 {% block content %}

      <section id="page_header" class="page-header d-flex align-items-center justify-center"
      style="background-image: url({% static '' %}/assets/img/image/place-order-page.png);">
        <div class="overlay"></div>
        <div class="container">
          <div class="row d-flex align-items-center justify-center">
            <div class="col-md-5 page-header-content">
              <h1 class="page-title">Place Your Order</h1>
              <h5 class="text">Get started with Right HR Solutions by placing an order for our comprehensive HR and
                professional services.</h5>
            </div>
          </div>
          <!-- End row -->
          <!-- End container -->
      </section>
      <!-- End Page Title  -->
      <!-- Place Order Section  -->
      <section id="place_order">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <div class="section-content">
                <div class="row g-5 align-items-center justify-center">
                  <div class="col-md-12">
                    <div class="order-form-wrapper">
                      <form method="post" action="{% url 'order_cart_notre' id=id %}" enctype="multipart/form-data" class="needs-validation" id="dynamicForm" novalidate>
                        {% csrf_token %}
                        <div class="form-section">
                          <div class="form-heading">
                            <h3 class="title">Select Category</h3>
                            <h6 class="sub-title">Choose from our broad range of service categories. </h6>
                          </div>
                          <div class="form-body">
                            <div class="category-list-group list-group list-group-checkable ">

                        {% for service in services %}

                            <input class="list-group-item-check pe-none" type="radio" name="categoriesList"
                                        style="background: white !important;" value="13">

                            <label class="list-group-item rounded-3 py-3 {% if service.id == 13 %}bg-dark text-light {% else %} text-dark bg-light {% endif %} " for="{{ service.name }}">
                                <div class="service-category" data-id="{{ service.id }}">
                                    <img class="service-icon bg-light" src="{{ service.icon.url }}" alt="Apostille Service">
                                    <h6 class="service-heading">{{ service.name }}</h6>

                                    <p class="service-heading">{% if service.id == 13 %} {{ service_name }}{%endif%}</p>
                                    <p class="price">{% if service.id == 13 %} {{updatedPrice}} {%endif%}</p>
                                    <div>
                                        {% if service.id == 13 %}
                                    <input type="number" name="test_price" id="priceField" value="{{updatedPrice}}"  hidden>
                                        {%endif%}
                                    </div>
                                </div>
                            </label>
                        {% endfor %}

                            </div>
                          </div>
                        </div>
                        <div class="form-section" id="customizeOrderSection">
                          <div class="form-heading">
                            <h3 class="title">Add Order Details</h3>
                            <h6 class="sub-title">Specify details unique to your requirements. </h6>
                          </div>
                          <div class="form-body">

                            <div id="formContainer">
                              <div class="step_form_process">

                                <div class="row g-4">
                                    {% if id == 1 or id == 3 %}
                                  <div class="col-12 col-sm-12 col-md-12">
                                    <label class="form-label">Service Type</label>
                                    <div class="input-group">
                                        <input type="text" name="name" id="pagename1" class="form-control" value="{{ service_name }}" required disabled>
                                        <input type="hidden" name="name" value="{{ service_name }}">
                                    </div>
                                      <div class="input-group">
                                      <input type="text" name="pageNumbers" id="hiddenPageNm" class="form-control" value="{{pageNumbers}}" hidden>
                                      </div>
                                  </div>
                                    {% else %}
                                    <div class="col-12 col-sm-12 col-md-6">
                                    <label class="form-label">Service Type</label>
                                    <div class="input-group">
                                      <input type="text" name="name" id="pagename" class="form-control" value="{{ service_name }}" placeholder="Enter Enter service name" required disabled>
                                        <input type="hidden" name="name" value="{{ service_name }}">
                                    </div>

                                  </div>
                                    {% endif %}
                                    {% if id == 2 %}
                                 <div class="col-12 col-sm-12 col-md-6">
    <label class="form-label">Upload Documents</label>
    <div class="input-group">
        <input type="file" name="upload_documents1[]" id="documentsNumber" class="form-control documentsNumber" accept=".jpg, .jpeg, .png, .pdf" required multiple>
    </div>
    <small class="form-text text-muted">Accepted formats: JPG, PNG, PDF. Max size: 5MB.</small>
    <div class="invalid-feedback">Please upload a file in JPG, PNG, or PDF format.</div>


    <div id="fileNames" class="file-names" style="display: none;">
        <ul id="fileList"></ul>
    </div>
</div>
                                      {% elif id == 4 %}
<div class="col-12 col-sm-12 col-md-6">
    <label class="form-label">Upload Documents</label>
    <div class="input-group">
        <input type="file" name="" id="uploadDocuments" class="form-control documentsNumber uploadDocuments" accept=".jpg, .jpeg, .png, .pdf" multiple required>
    </div>
    <small class="form-text text-muted">Accepted formats: JPG, PNG, PDF. Max size: 5MB.</small>
    <div class="invalid-feedback">Please upload a file in JPG, PNG, or PDF format.</div>
    <div id="fileNames1" class="file-names" style="display: none;">
        <ul id="fileList1"></ul>
    </div>
</div>

                                    {% endif %}


                                </div>
                              </div>
                            </div>

                            <div class="row g-4">


                              <div class="col-12">
                                <label for="commentsQuestions" class="form-label">Comments or Questions <span
                                    class="small">(Optional)</span>
                                </label>
                                <textarea class="form-control" id="commentsQuestions" placeholder="" name="comments_questions"></textarea>
                                <div class="invalid-feedback"> Please enter your comments or questions. </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="form-section" id="orderConfirmSection">
                          <div class="form-heading">
                            <h3 class="title">Confirm Order</h3>
                            <h6 class="sub-title">Confirm your order to proceed
                              to the next step. </h6>
                          </div>
                          <div class="form-body">
                            <div class="row g-4">
                              <div class="col-12">
                                <div class="form-check">
                                  <input type="checkbox" class="form-check-input" id="acceptTermsConditions" name="terms_accepted" required>
                                  <label class="form-check-label" for="acceptTermsConditions">I do accept the <a
                                      href="/terms-conditions">Terms and Conditions</a>
                                  </label>
                                  <div class="invalid-feedback">You must accept the terms and conditions. </div>
                                </div>
                              </div>
                            </div>
                          </div>
                          <button class="mt-4 btn btn-big" type="submit" id="submitButton" disabled>Complete your
                            order</button>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- End Place Order Section  -->

    </main>

<div id="filePopup" class="file-popup" style="display:none;">
    <div class="file-popup-content">
        <span class="close-popup" onclick="closePopup()">×</span>
        <h5>Selected Files:</h5>
        <ul id="fileList"></ul>
    </div>
</div>
    <!-- End Main Body -->

<script>




    let serElement = document.querySelectorAll(".service-category");
let priceField = document.querySelector('#priceField');
let priceText = document.querySelector('.price');

const fileInputs = document.querySelectorAll('.documentsNumber');

let uploadedFiles = [];

fileInputs.forEach(fileInput => {
    fileInput.addEventListener('change', function(event) {
        const fileInput = event.target;
        const fileList = fileInput.closest('.col-12').querySelector('.file-names ul');
        const fileNamesDiv = fileInput.closest('.col-12').querySelector('.file-names');

        if (fileInput.files.length > 0) {
            fileNamesDiv.style.display = 'block';

            Array.from(fileInput.files).forEach(file => {
                const existingFiles = Array.from(fileList.children).map(item => item.textContent);

                if (!existingFiles.includes(file.name)) {
                    const listItem = document.createElement('li');
                    const newInput = document.createElement('input');
                    newInput.type = 'file';
                    newInput.classList.add('hidden');
                    newInput.name = 'upload_documents1';
                    newInput.classList.add('dynamic-file-input');
                    newInput.disabled = true;

                    const fileNameSpan = document.createElement('span');
                    fileNameSpan.textContent = `${file.name}`;

                    fileList.appendChild(listItem);
                    listItem.appendChild(newInput);
                    listItem.appendChild(fileNameSpan);

                    uploadedFiles.push(file);
                }
            });

            let totalFiles = fileList.children.length;
            let updatedPrice = parseFloat(totalFiles) * 25;
            priceField.value = updatedPrice;

            if (priceText) {
                priceText.textContent = `$${updatedPrice.toFixed(2)}`;
            }

            serElement.forEach(function(service) {
                let dataId = service.getAttribute('data-id');
                let price = service.querySelector('.price');
                let priceHidden = service.querySelector('#priceField');

                if (dataId == 13 && price) {
                    price.textContent = `$${updatedPrice.toFixed(2)}`;
                    priceHidden.value = updatedPrice.toFixed(2);
                    console.log("Hidden Price is", priceHidden)
                }
            });

        } else {
            fileNamesDiv.style.display = 'none';
        }
    });
});

const form = document.querySelector('#dynamicForm');
form.addEventListener('submit', function() {


    const formData = new FormData(form);

    uploadedFiles.forEach(file => {
        formData.append('upload_documents1[]', file);
    });

    for (let [key, value] of formData.entries()) {
        console.log(`${key}:`, value);
    }

    fetch('/order_cart_notre/4', {
        method: 'POST',
        body: formData,
    })
    .then(response => response.json())
    .then(data => {
        console.log('Form submission successful:', data);
    })
    .catch(error => {
        console.error('Error submitting form:', error);
    });
});


let pageNumbers = document.getElementById('pageNumbers');
pageNumbers?.addEventListener('input', function() {
    let enteredPages = this.value;
    console.log("Page Number", enteredPages);

    serElement.forEach(function(service) {
        let dataId = service.getAttribute('data-id');

        let price = service.querySelector('.price');

        if (dataId == 13) {
            let updatedPrice = parseInt(enteredPages * 10);
            price.textContent = `$${updatedPrice}`;
            priceField.value = updatedPrice;
            document.getElementById('priceField').value;
            console.log("Price for 13 is", updatedPrice);
        }
    });
});

<!--document.addEventListener('change', function(event) {-->
<!--    if (event.target && event.target.classList.contains('documentsNumber')) {-->
<!--        updatePrice();-->
<!--    }-->
<!--    if (event.target && event.target.id === 'mobileServices') {-->
<!--        updatePrice1();-->
<!--    }-->
<!--    if (event.target && event.target.id === 'selectLength') {-->
<!--        updatePrice1();-->
<!--    }-->
<!--});-->

<!--function updatePrice() {-->
<!--    let totalFileCount2 = 0;-->
<!--    document.querySelectorAll('.documentsNumber').forEach(function(inputElement) {-->
<!--        totalFileCount2 += inputElement.files.length;-->
<!--    });-->

<!--    let totalPrice = totalFileCount2 * 25;-->
<!--    console.log('Total number of files uploaded: ' + totalFileCount2);-->
<!--    console.log("Total Price is", totalPrice);-->

<!--    serElement.forEach(function(service) {-->
<!--        let dataId = service.getAttribute('data-id');-->
<!--        let priceField = service.querySelector('#priceField');-->
<!--        let price = service.querySelector('.price');-->

<!--        if (dataId == 13) {-->
<!--            price.textContent = `$ ${totalPrice}`;-->
<!--            if (priceField) {-->
<!--                priceField.value = totalPrice;-->
<!--            }-->
<!--            console.log("Updated price for docs:", priceField.value);-->
<!--        }-->
<!--    });-->
<!--}-->

document.getElementById('mobileServices')?.addEventListener('change', function() {
    let fileCount = this.files.length;
    console.log('Number of files uploaded: ' + fileCount);

    serElement.forEach(function(service) {
        let dataId = service.getAttribute('data-id');
        let priceField = service.querySelector('#priceField');
        let price = service.querySelector('.price');

        if (dataId == 13) {
            let updatedPrice = fileCount * 60;
            price.textContent = `$ ${updatedPrice}`;
            priceField.value = updatedPrice;
            console.log("Price for Docs is", priceField.textContent);
        }
    });
});

function updatePrice1() {
    console.log("updatePrice1 is called");
    let totalFileCount1 = 0;

    document.querySelectorAll('.mobileServices').forEach(function(inputElement1) {
        totalFileCount1 += inputElement1.files.length;
    });

    let totalPrice1 = totalFileCount1 * 60;
    console.log("Total price before select length:", totalPrice1);

    let selectLengthValue = parseInt(document.getElementById('selectLength')?.value) || 0;
    totalPrice1 += selectLengthValue;

    console.log("Total Price after select length is", totalPrice1);

    serElement.forEach(function(service) {
        let dataId = service.getAttribute('data-id');
        let priceField = service.querySelector('#priceField');
        let price = service.querySelector('.price');

        if (dataId == 13) {
            price.textContent = `$ ${totalPrice1}`;
            if (priceField) {
                priceField.value = totalPrice1;
            }
        }
    });
}

<!--document.addEventListener('click', function(event) {-->
<!--    if (event.target && event.target.classList.contains('minus')) {-->
<!--        let totalFileCount = 0;-->

<!--        document.querySelectorAll('.mobileServices').forEach(function(inputElement) {-->
<!--            totalFileCount += inputElement.files.length;-->
<!--        });-->

<!--        let totalPrice = totalFileCount * 25;-->
<!--        console.log("Total price before select length:", totalPrice);-->

<!--        let selectLengthValue = parseInt(document.getElementById('selectLength')?.value) || 0;-->
<!--        totalPrice += selectLengthValue;-->

<!--        console.log("Total Price after select length is", totalPrice);-->

<!--        serElement.forEach(function(service) {-->
<!--            let dataId = service.getAttribute('data-id');-->
<!--            let priceField = service.querySelector('#priceField');-->
<!--            let price = service.querySelector('.price');-->

<!--            if (dataId == 13) {-->
<!--                let currentPrice = parseFloat(priceField.value) || 0;-->
<!--                let updatedPrice = currentPrice - 25;-->
<!--                if (updatedPrice < 0) updatedPrice = 25;-->
<!--                price.textContent = `$ ${updatedPrice}`;-->
<!--                if (priceField) {-->
<!--                    priceField.value = updatedPrice;-->
<!--                }-->
<!--            }-->
<!--        });-->
<!--    }-->
<!--});-->

document.getElementById('dynamicForm').addEventListener('submit', function (event) {
    const hiddenField = document.createElement('input');
    hiddenField.type = 'hidden';
    hiddenField.name = 'extraField';
    hiddenField.value = document.getElementById('priceField').value;

    this.appendChild(hiddenField);
});



      const appId = '{{ SQUARE_APPLICATION_ID }}';
        const locationId = LBGRAB74K3J47;

        const payments = Square.payments(appId, locationId);
        let card;

        async function initializeCard() {
            card = await payments.card();
            await card.attach('#card-container');
        }

        async function handlePayment() {
            const result = await card.tokenize();
            if (result.status === 'OK') {
                document.getElementById('source_id').value = result.token;
                document.getElementById('order-form').submit();  // Submit the form
            } else {
                alert('Payment failed. Please try again.');
            }
        }

        document.getElementById('card-button').addEventListener('click', handlePayment);
        initializeCard();

</script>


    {% endblock content %}