{% extends 'dashboard-base.html' %}
{% block title %}Home Page{% endblock %}
{% load static %}
{% block content %}
{% for x in professional_services %}
        <!-- Page Title  -->
        <section id="page_header" class="page-header d-flex align-items-center justify-center" style="background-image: url({{x.hero_button_image.url}}">
          <div class="overlay"></div>
          <div class="container">
            <div class="row d-flex align-items-center justify-center">
              <div class="col-md-5 page-header-content">
                <h1 class="page-title">{{x.hero_title}}</h1>
                <h5 class="text">{{ x.hero_text }}</h5>
              </div>
            </div>
            <!-- End row -->
            <!-- End container -->
        </section>
        <!-- End Page Title  -->
        <!-- Service Expand Section  -->
        <section id="service_expand">
          <div class="container">
            <div class="row">
              <div class="col-md-12 m-auto">
                <div class="section-heading text-center">
                  <h2 class="title">{{x.comprehensive_professional_services_title}}</h2>
                  <h5 class="sub-title">{{ x.comprehensive_professional_services_desc }}.</h5>
                </div>
                <div class="section-content">
                  <div id="Apostille_Service" class="row mb-5 g-4 g-md-5 align-items-center justify-center flex-md-row flex-column-reverse service-row">
                    <div class="col-md-7">
                      <div class="hr-block">
                        <div class="hr-block-heading">
                          <h3 class="title">{{x.apostille_services_title}}</h3>
                          <p class="sub-title">{{ x.apostille_services_desc }}</p>
                        </div>
                        <div class="hr-block-content">
                          <h4 class="title">{{x.apostille_services_cover}}:</h4>
                          <ul class="list">
                            <li class="list-item">{{x.legalization_of_business}}</li>
                            <li class="list-item">{{x.apostille_for_employment}}</li>
                            <li class="list-item">{{x.support_with_multi_lingual}}</li>
                          </ul>
                          <a href="/apostille-services.html" class="btn">Continue<i class="bi bi-arrow-right"></i>
                          </a>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-5">
                      <img class="img-fluid img-shadow ratio-h" src="{{x.apostille_services_image.url}}" alt="Apostille Services">
                    </div>
                  </div>
                  <div id="Background_Check" class="row mb-5 g-4 g-md-5 align-items-center justify-center service-row">
                    <div class="col-md-5">
                      <img class="img-fluid img-shadow ratio-h" src="{{x.background_checks_image.url}}" alt="Background Checks">
                    </div>
                    <div class="col-md-7">
                      <div class="hr-block">
                        <div class="hr-block-heading">
                          <h3 class="title">{{x.background_checks_title}}</h3>
                          <p class="sub-title">{{x.background_checks_desc}}</p>
                        </div>
                        <div class="hr-block-content">
                          <h4 class="title">{{x.background_checks_include}}:</h4>
                          <ul class="list">
                            <li class="list-item">{{x.criminal_history_checks}}</li>
                            <li class="list-item">{{x.tax_compliance_and_reporting}}</li>
                            <li class="list-item">{{x.employment_verification}}</li>
                          </ul>
                          <a href="/background-check.html" class="btn">Continue <i class="bi bi-arrow-right"></i>
                          </a>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div id="Document_Notarization" class="row mb-5 g-4 g-md-5 align-items-center justify-center flex-md-row flex-column-reverse service-row">
                    <div class="col-md-7">
                      <div class="hr-block">
                        <div class="hr-block-heading">
                          <h3 class="title">{{x.document_notarization_title}}</h3>
                          <p class="sub-title">{{ x.document_notarization_desc }}</p>
                        </div>
                        <div class="hr-block-content">
                          <h4 class="title">{{x.our_notary_services_include}}</h4>
                          <ul class="list">
                            <li class="list-item">{{x.contract_notarization}}</li>
                            <li class="list-item">{{x.legal_document_verification}}</li>
                            <li class="list-item">{{x.business_agreement_notarization}}</li>
                          </ul>
                          <a href="/notary-public-service.html" class="btn">Continue <i class="bi bi-arrow-right"></i>
                          </a>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-5">
                      <img class="img-fluid img-shadow ratio-h" src="{{x.document_notarization_image.url}}" alt="Document Notarization">
                    </div>
                  </div>
                  <div id="Document_Translation" class="row mb-5 g-4 g-md-5 align-items-center justify-center service-row">
                    <div class="col-md-5">
                      <img class="img-fluid img-shadow ratio-h" src="{{x.document_translation_services_image.url}}" alt="Document Translation Services">
                    </div>
                    <div class="col-md-7">
                      <div class="hr-block">
                        <div class="hr-block-heading">
                          <h3 class="title">{{x.document_translation_services_title}}</h3>
                          <p class="sub-title">{{ x.document_translation_services_des }}</p>
                        </div>
                        <div class="hr-block-content">
                          <h4 class="title">{{ x.translation_services_include }}</h4>
                          <ul class="list">
                            <li class="list-item">{{x.business_and_legal}}</li>
                            <li class="list-item">{{x.employment_contracts}}</li>
                            <li class="list-item">{{x.multi_lingual_support_for}}</li>
                          </ul>
                          <a href="/document-translation-service.html" class="btn">Continue <i class="bi bi-arrow-right"></i>
                          </a>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div id="Fingerprinting_Service" class="row g-4 g-md-5 align-items-center justify-center flex-md-row flex-column-reverse service-row">
                    <div class="col-md-7">
                      <div class="hr-block">
                        <div class="hr-block-heading">
                          <h3 class="title">{{x.fingerprinting_service_title}}</h3>
                          <p class="sub-title">{{x.fingerprinting_service_desc}}</p>
                        </div>
                        <div class="hr-block-content">
                          <h4 class="title">{{x.fingerprinting_services_include}}:</h4>
                          <ul class="list">
                            <li class="list-item">{{x.live_scan}}</li>
                            <li class="list-item">{{x.FBI_FDLE_and_FINRA}}</li>
                            <li class="list-item">{{x.fingerprint_archiving}}</li>
                          </ul>
                          <a href="/fingerprinting-service.html" class="btn">Continue <i class="bi bi-arrow-right"></i>
                          </a>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-5">
                      <img class="img-fluid img-shadow ratio-h" src="{{x.fingerprinting_service_image.url}}" alt="Fingerprinting Services">
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
        <!-- End Service Section  -->
        <!-- Quick Service Section  -->
        <section id="quick_service">
          <div class="container">
            <div class="row">
              <div class="col-md-12 m-auto text-center">
                <div class="section-heading">
                  <h2 class="title">{{x.hr_ervices_tailored_title}}</h2>
                  <h5 class="sub-title">{{ x.hr_ervices_tailored_title_description }}</h5>
                </div>
                <div class="section-content">
                  <div class="quick-service-grid text-center">
                    <div class="grid-item">
                      <a class="grid-item-link" href="/hr-solutions.html#Benefits_Management">
                        <img class="img-fluid img-shadow ratio-h" src="{{x.benifits_management_section_image.url}}" alt="Benefits Management">
                        <h4 class="heading">{{x.benifits_management_section_title}}</h4>
                      </a>
                    </div>
                    <div class="grid-item">
                      <a class="grid-item-link" href="/hr-solutions.html#Payroll_Management">
                        <img class="img-fluid img-shadow ratio-h" src="{{x.payroll_management_section_images.url}}" alt="Payroll Management">
                        <h4 class="heading">{{x.payroll_management_section_title}}</h4>
                      </a>
                    </div>
                    <div class="grid-item">
                      <a class="grid-item-link" href="/hr-solutions.html#Special_HR_Project">
                        <img class="img-fluid img-shadow ratio-h" src="{{x.special_project_section_image.url}}" alt="
                                                Special Projects">
                        <h4 class="heading">{{x.special_project_section_title}}</h4>
                      </a>
                    </div>
                    <div class="grid-item">
                      <a class="grid-item-link" href="/hr-solutions.html#Staffing_Recruitment">
                        <img class="img-fluid img-shadow ratio-h" src="{{x.staffing_recruiting_section_image.url}}" alt="Staffing & Recruitment">
                        <h4 class="heading">{{x.staffing_recruiting_section_title}}</h4>
                      </a>
                    </div>
                    <div class="grid-item">
                      <a class="grid-item-link" href="/hr-solutions.html#Training_Development">
                        <img class="img-fluid img-shadow ratio-h" src="{{x.training_and_develop_section_image.url}}" alt="Training & Development">
                        <h4 class="heading">{{x.training_and_develop_section_title}}</h4>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
        <!-- End Quick Service Section  -->
        <!-- Why Choose Section  -->
        <section id="why_choose">
          <div class="container">
            <div class="row g-5 align-items-center justify-center">
              <div class="col-md-5">
                <img class="img-fluid img-shadow ratio-v" src="{{x.why_choose_section_image.url}}" alt="Why Choose Right HR Solutions">
              </div>
              <div class="col-md-7">
                <div class="section-heading">
                  <h2 class="title">{{x.why_choose_section_title}}</h2>
                </div>
                <div class="section-content">
                  <div class="hr-list">
                    <div class="hr-list-items">
                      <div class="hr-list-item">
                        <div class="icon">
                          <img class="img-fluid" src="{{x.expert_hr_guidance_section_images.url}}" alt="Expert HR Guidance">
                        </div>
                        <div class="content">
                          <h4 class="heading">{{x.expert_hr_guidance_section_title}}</h4>
                          <p class="text">{{ x.expert_hr_guidance_section_desc }}.</p>
                        </div>
                      </div>
                      <div class="hr-list-item">
                        <div class="icon">
                          <img class="img-fluid" src="{{x.efficiency_compliance_section_image.url}}" alt="Efficiency & Compliance">
                        </div>
                        <div class="content">
                          <h4 class="heading">{{x.efficiency_compliance_section_title}}</h4>
                          <p class="text">{{ x.efficiency_compliance_section_desc  }}.</p>
                        </div>
                      </div>
                      <div class="hr-list-item">
                        <div class="icon">
                          <img class="img-fluid" src="{{x.costomized_solution_section_image.url }}" alt="Customized Solutions">
                        </div>
                        <div class="content">
                          <h4 class="heading">{{x.costomized_solution_section_title}}</h4>
                          <p class="text">{{ x.costomized_solution_section_desc }}</p>
                        </div>
                      </div>
                      <div class="hr-list-item">
                        <div class="icon">
                          <img class="img-fluid" src="{{x.customer_satisfaction_section_image.url}}" alt="Customer Satisfaction">
                        </div>
                        <div class="content">
                          <h4 class="heading">{{x.customer_satisfaction_section_title}}</h4>
                          <p class="text">{{x.customer_satisfaction_section_desc}}</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
        <!-- End Why Choose Section  -->
        <!-- Get Started Section  -->
        <section id="get_started">
          <div class="container">
            <div class="row">
              <div class="col-md-12">
                <div class="get-started-block text-center">
                  <div class="section-heading">
                    <h3 class="title">{{x.start_simplifying_your_business_title}}</h3>
                    <h5 class="sub-title">{{ x.start_simplifying_your_business_desc }}</h5>
                  </div>
                  <a href="/appoinment.html" class="btn btn-big">Schedule a Free Consultation</a>
                </div>
              </div>
            </div>
          </div>
        </section>
        <!-- End Get Started Section  -->

{% endfor %}
{% endblock %}