{% extends "base.html" %}
{% load static %}
{% block title %}Right HR Solutions – HR Solutions & Professional Services{% endblock title %}

 {% block content %}

        <section id="thank_you" class="d-flex align-items-center justify-center">
          <div class="container">
            <div class="row">
              <div class="col-md-73 m-auto text-center">
                <div class="section-heading">
                  <h2 class="title">Thank You for Reaching Out to Right HR Solutions!</h2>
                  <h5 class="sub-title">We’ve received your message and one of our team members will be in touch shortly. We’re excited to help you with your HR and professional service needs and provide you with personalized solutions to drive your business forward.</h5>
                </div>
                <div class="section-content text-center">
                  <div class="thank-you-content">
                    <img class="img-fluid" src="{% static '' %}assets/img/icons/thank-you.png" alt="Thank You">
                  </div>
                  <a href="/" class="btn btn-big mt-5">Back to Home</a>
                  <h4 class="order-number mt-4">Your Order Number is 00123</h4>
                </div>
              </div>
            </div>
          </div>
        </section>
        <!-- End Thank You Section  -->
      </main>
      <!-- End Main Body -->
      <!-- Footer Section -->
      <section class="footer-main">
        <div class="container">
          <div class="row g-3">
            <div class="col-12">
              <div class="footer-logo">
                <a href="/">
                  <img class="img-fluid" src="{% static '' %}assets/img/logo.svg" alt="logo">
                </a>
              </div>
            </div>
            <!-- Footer Menu -->
            <div class="col-md-7 col-sm-12">              
              <div class="footer-menu">
                <div class="menu-group">
                  <h5 class="menu-title">HR Solutions</h5>
                  <ul class="menu-list">
                    <li>
                      <a href="/hrsolutions#Benefits_Management">Benefits Management</a>
                    </li>
                    <li>
                      <a href="/hrsolutions#Payroll_Management">Payroll Management</a>
                    </li>
                    <li>
                      <a href="/hrsolutions#Special_HR_Project">Special HR Project</a>
                    </li>
                    <li>
                      <a href="/hrsolutions#Staffing_Recruitment">Staffing & Recruitment</a>
                    </li>
                    <li>
                      <a href="/hrsolutions#Training_Development">Training & Development</a>
                    </li>
                  </ul>
                </div>
                <div class="menu-group">
                  <h5 class="menu-title">Professional Services</h5>
                  <ul class="menu-list">
                    <li>
                      <a href="/professional_services#Apostille_Service">Apostille Service</a>
                    </li>
                    <li>
                      <a href="/professional_services#Background_Check">Background Check</a>
                    </li>
                    <li>
                      <a href="/professional_services#Document_Notarization">Document Notarization</a>
                    </li>
                    <li>
                      <a href="/professional_services#Document_Translation">Document Translation</a>
                    </li>
                    <li>
                      <a href="/professional_services#Fingerprinting_Service">Fingerprinting Service</a>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="partner-logo">
                <div class="partner-logo-list">
                  <img class="img-fluid" src="{% static '' %}assets/img/icons/partner-logo-boca-chamber.png" alt="Boca Chamber Logo">
                  <img class="img-fluid" src="{% static '' %}assets/img/icons/partner-logo-nna-services.png" alt="NNA Services Logo">
                  <img class="img-fluid" src="{% static '' %}assets/img/icons/partner-logo-shrm.png" alt="SHRM Logo">
                  <img class="img-fluid" src="{% static '' %}assets/img/icons/partner-logo-bbb-trust.png" alt="BBB Trust Logo">
                  <img class="img-fluid" src="{% static '' %}assets/img/icons/partner-logo-signix.png" alt="Signix Logo">
                </div>
              </div>
            </div>
            <!-- Contact Info & Newsletter -->
            <div class="col-md-5 col-sm-12">
              <div class="contact-info">
                <div class="info-item w-100">
                  <p class="heading">Opening Hours</p>
                  <h5 class="info">Monday - Friday > 9.00 AM to 6.00 PM</h5>
                </div>
                <div class="info-item">
                  <p class="heading">Phone</p>
                  <h5 class="info">(561) 491-9550</h5>
                </div>
                <div class="info-item">
                  <p class="heading">Email</p>
                  <h5 class="info">info@rightrsolutions.com</h5>
                </div>
                <div class="info-item">
                  <p class="heading">Business Address</p>
                  <h5 class="info">1600 NW 2nd Ave; Suite 20 Boca Raton, Fl. 33432</h5>
                </div>
              </div>
              <div class="footer-newsletter">
                <form method="get" class="needs-validation" novalidate onsubmit="return preloadEmail()">
                  <div class="input-group">
                    <input type="email" class="form-control" placeholder="Enter your email" id="newsletterEmail" required>
                    <div class="input-group-append">
                      <button class="btn" type="submit" id="submitNewsletter" disabled>Contact Us</button>
                    </div>
                    <div class="invalid-feedback"> Please enter a valid email address. </div>
                  </div>
                </form>
              </div>
              <div class="footer-seal">
                <div class="seal-list">
                  <img class="img-fluid" src="{% static '' %}assets/img/icons/seal-notary.svg" alt="Notary Public Seal">
                  <img class="img-fluid" src="{% static '' %}assets/img/icons/seal-10years.svg" alt="Ten Years Celebrating Seal">
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- Footer Bottom Section -->
 {% endblock content %}