{% extends 'dashboard-base.html' %}
{% load static %}
{% block title %}Dashboard{% endblock %}
{% block content %}
<div class="user_details_sec">

    <div class="top_main_heading">
        <h1>Appointment</h1>
        <nav aria-label="Breadcrumb">
            <ul class="breadcrumb">
            <li><a href="/dashboard/">Dashboard</a></li>
            <li><a href="/current-page">Appointment</a></li>
            </ul>
        </nav>
    </div>

    <div class="main_search_pagination">
        <div class="search_bar">
            <form method="get" action="">
                <div class="inner_search_bar">
                    <button type="submit">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                            <path d="M416 208c0 45.9-14.9 88.3-40 122.7L502.6 457.4c12.5 12.5 12.5 32.8 0 45.3s-32.8 12.5-45.3 0L330.7 376c-34.4 25.2-76.8 40-122.7 40C93.1 416 0 322.9 0 208S93.1 0 208 0S416 93.1 416 208zM208 352a144 144 0 1 0 0-288 144 144 0 1 0 0 288z"/>
                        </svg>
                    </button>
                    <input
                    type="text"
                    name="q"
                    placeholder="Search orders by id, email "
                    value="{{ request.GET.q|default:'' }}" />
                </div>
            </form>
        </div>

        <div class="pagination-section">
            <ul class="pagination">
                {% if appointment_page.has_previous %}
                <li class="prev_btn"><a href="?q={{ request.GET.q|urlencode }}&page={{ appointment_page.previous_page_number }}">‹ Prev</a></li>
                {% else %}
                <li class="prev_btn disabled hidden"><span>‹ Prev</span></li>
                {% endif %}

                {% for page_num in appointment_page.paginator.page_range %}
                {% if appointment_page.number == page_num %}
                <li class="active"><a href="?q={{ request.GET.q|urlencode }}&page={{ page_num }}">{{ page_num }}</a></li>
                {% else %}
                <li><a href="?q={{ request.GET.q|urlencode }}&page={{ page_num }}">{{ page_num }}</a></li>
                {% endif %}
                {% endfor %}

                {% if appointment_page.has_next %}
                <li class="next_btn"><a href="?q={{ request.GET.q|urlencode }}&page={{ appointment_page.next_page_number }}">Next ›</a></li>
                {% else %}
                <li class="next_btn disabled hidden"><span>Next ›</span></li>
                {% endif %}
            </ul>
        </div>

    </div>

    <table>

            <thead>
                <tr>
                    <th style="text-align: left;">Appointment ID</th>
                    <th style="text-align: left;">Service</th>
                    <th style="text-align: left;">Name</th>
                    <th style="text-align: left;">Email</th>
                    <th style="text-align: left;">Phone</th>
                    <th style="text-align: left;">Date</th>
                    <th style="text-align: left;">Time</th>
                    <th style="text-align: left;">Address</th>
                    <th>Actions</th>
                </tr>
            </thead>
        <tbody>
                {% for appointment in appointment_page %}
                <tr>
                    <td style="text-align: left;">{{ appointment.id }}</td>
                    <td style="text-align: left;">{{ appointment.service }}</td>
                    <td style="text-align: left;">{{ appointment.name }}</td>
                    <td style="text-align: left;">{{ appointment.email }}</td>
                    <td style="text-align: left;">{{ appointment.phone }}</td>
                    <td style="text-align: left;">{{ appointment.date }}</td>
                    <td style="text-align: left;">{{ appointment.time }}</td>
                    <td style="text-align: left;">{{ appointment.address }}</td>
                    <td>
                        <a  href="{% url 'edit_appointment_list' pk=appointment.id %}" class="edit_btn">Edit</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}