{% extends 'dashboard-base.html' %}
{% block title %}Edit User{% endblock %}
{% block content %}
<main>

    <div class="user_details_sec edit_service" bis_skin_checked="1">

        <div class="top_main_heading services_sec_top" bis_skin_checked="1">
            <div class="heading_breadcrumbs" bis_skin_checked="1">
                <h1>Edit User: <span>{{ user.first_name }} {{ user.last_name }}</h1>
                <nav aria-label="Breadcrumb">
                    <ul class="breadcrumb">
                    <li><a href="/dashboard/">Dashboard</a></li>
                    <li><a href="/current-page">Users</a></li>
                    </ul>
                </nav>
            </div>
            <div class="top_add_services" bis_skin_checked="1">
                <a class="cancel_edit_btn btn btn-secondary" href="/dashboard/user/">Back to List</a>
            </div>
        </div>

        {% if form.non_field_errors %}
    <div class="form-error-message">
        <strong>There were some errors with your submission:</strong>
        <ul>
            {% for error in form.non_field_errors %}
                <li>{{ error }}</li>
            {% endfor %}
        </ul>
    </div>
    {% endif %}


        <form method="POST" action="{% url 'edit-user' user_id=user.id %}" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Save Changes</button>
            <a href="/dashboard/user/" class="cancel_edit_btn btn btn-primary">Cancel</a>
        </form>
    </div>

</main>
{% endblock %}
