{% extends 'dashboard-base.html' %}
{% block title %}Edit About Us{% endblock %}
{% block content %}
<main>

    <div class="user_details_sec edit_service" bis_skin_checked="1">

        <div class="top_main_heading services_sec_top" bis_skin_checked="1">
            <div class="heading_breadcrumbs" bis_skin_checked="1">
                <h1>Edit About Us</h1>
                <nav aria-label="Breadcrumb">
                    <ul class="breadcrumb">
                    <li><a href="/dashboard/">Dashboard</a></li>
                    <li><a href="/current-page">Edit About Us</a></li>
                    </ul>
                </nav>
            </div>
            <div class="top_add_services" bis_skin_checked="1">
                <a class="cancel_edit_btn btn btn-secondary" href="/dashboard/home_list">Back to List</a>
            </div>
        </div>

  <form method="POST" action="{% url 'edit_about_us' about_us_id=about_us.id %}" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}  <!-- Render form fields as paragraph tags -->
    <button type="submit">Save Changes</button>
      <a href="/dashboard/home_list" class="cancel_edit_btn btn btn-primary">Cancel</a>
      <a href="{% url 'reset_to_original' about_us.get_model_name about_us.id %}" class="cancel_edit_btn btn btn-primary">
        Reset
    </a>
   </form>
    </div>

            </main>
{% endblock %}