{% extends 'dashboard-base.html' %}
{% load static %}
{% block title %}Dashboard{% endblock %}
{% block content %}
<div class="user_details_sec add_new_service">
    <div class="top_main_heading services_sec_top">
        <div class="heading_breadcrumbs">
            <h1>FAQs</h1>
            <nav aria-label="Breadcrumb">
                <ul class="breadcrumb">
                    <li><a href="/dashboard/">Dashboard</a></li>
                    <li><a href="/current-page">FAQs</a></li>
                </ul>
            </nav>
        </div>
        <div class="top_add_services">
            <a href="{% url 'faq_create' %}" class="add_new_service_btn">Add New FAQ</a>
        </div>
    </div>

    <table>
        <thead>
            <tr>
                <th>Section</th>
                <th>FAQ Heading</th>
                <th>Description</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for faq in faqs %}
            <tr>
                <td class="section_name">{{ faq.section.title }}</td>
                <td class="faq_heading">{{ faq.heading }}</td>
                <td class="faq_description">{{ faq.description|truncatewords:15 }}</td>
                <td class="faq_btns">
                    <a class="edit_btn" href="{% url 'faq_update' faq.pk %}">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                            <path d="M471.6 21.7c-21.9-21.9-57.3-21.9-79.2 0L362.3 51.7l97.9 97.9 30.1-30.1c21.9-21.9 21.9-57.3 0-79.2L471.6 21.7zm-299.2 220c-6.1 6.1-10.8 13.6-13.5 21.9l-29.6 88.8c-2.9 8.6-.6 18.1 5.8 24.6s15.9 8.7 24.6 5.8l88.8-29.6c8.2-2.7 15.7-7.4 21.9-13.5L437.7 172.3 339.7 74.3 172.4 241.7zM96 64C43 64 0 107 0 160L0 416c0 53 43 96 96 96l256 0c53 0 96-43 96-96l0-96c0-17.7-14.3-32-32-32s-32 14.3-32 32l0 96c0 17.7-14.3 32-32 32L96 448c-17.7 0-32-14.3-32-32l0-256c0-17.7 14.3-32 32-32l96 0c17.7 0 32-14.3 32-32s-14.3-32-32-32L96 64z"/>
                        </svg>
                    </a>
                    <a class="delete_btn" href="{% url 'faq_delete' faq.pk %}">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                            <path d="M135.2 17.7c6.3-10.6 17.4-17.7 30-17.7h117.6c12.6 0 23.7 7.1 30 17.7L320 48H432c8.8 0 16 7.2 16 16s-7.2 16-16 16H416L390.8 448c-2.4 27.5-25.4 48-52.9 48H110.1c-27.5 0-50.5-20.5-52.9-48L32 80H16c-8.8 0-16-7.2-16-16s7.2-16 16-16H128l7.2-30.3zM256 192c0-8.8-7.2-16-16-16s-16 7.2-16 16V352c0 8.8 7.2 16 16 16s16-7.2 16-16V192zM176 176c8.8 0 16 7.2 16 16V352c0 8.8-7.2 16-16 16s-16-7.2-16-16V192c0-8.8 7.2-16 16-16zm128 0c8.8 0 16 7.2 16 16V352c0 8.8-7.2 16-16 16s-16-7.2-16-16V192c0-8.8 7.2-16 16-16z"/>
                        </svg>
                    </a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
