{% extends 'dashboard-base.html' %}
{% block title %}Edit User{% endblock %}
{% block content %}
<main>
    <script src="https://cdn.ckeditor.com/ckeditor5/12.0.0/classic/ckeditor.js"></script>  
    <div class="user_details_sec edit_service" bis_skin_checked="1">
    
        <div class="top_main_heading services_sec_top" bis_skin_checked="1">
            <div class="heading_breadcrumbs" bis_skin_checked="1">
                <h1>Help</h1>
                <nav aria-label="Breadcrumb">
                    <ul class="breadcrumb">
                    <li><a href="/dashboard/">Dashboard</a></li>
                    <li><a href="/current-page">help</a></li>
                    </ul>
                </nav>
            </div>
            <div class="top_add_services" bis_skin_checked="1">
              <a class="add_new_service_btn" href="/dashboard/help/add/">Add New Help</a>
            </div>
        </div>
        <div class="faq-container">
          {%for item in items %}
            <div class="faq-item">
              <div class="faq-question">
                {{item.heading}}
                <span class="arrow">▶</span>
              </div>
              <div class="faq-answer">
                {{item.description}} 
                <span><a class="add_new_service_btn" style="float: right;" href="/dashboard/help/{{item.id}}/delete/">delete Help</a></span>
              </div>
            </div>
          {% endfor %}
          </div>
    </div>
    
            </main>
{% endblock %}
