{% extends 'dashboard-base.html' %}
{% load static %}
{% block title %}Dashboard{% endblock %}
{% block content %}
<div class="user_details_sec">
  <h1>Welcome to our dashboard</h1>

    <div class="home_dashboard">
        <img class="img-fluid" src="{% static '' %}assets/img/logo.svg" alt="logo">
        <h3>Welcome to HR Right Solutions</h3>
        <p>"Welcome to our dashboard – your central hub for insights, data, and seamless management. Explore, analyze, and take control with ease!"</p>
    </div>
   
    
</div>
{% endblock %}