{% extends 'dashboard-base.html' %}
{% load static %}
{% block title %}Dashboard{% endblock %}
{% block content %}
<div class="user_details_sec">
 
    <div class="top_main_heading">
        <h1>Orders</h1>
        <nav aria-label="Breadcrumb">
            <ul class="breadcrumb">
            <li><a href="/dashboard/">Dashboard</a></li>
            <li><a href="/current-page">Orders</a></li>
            </ul>
        </nav>
    </div>
    
    <div class="main_search_pagination">
        <div class="search_bar">
            <form method="get" action="">
                <div class="inner_search_bar">
                    <button type="submit">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                            <path d="M416 208c0 45.9-14.9 88.3-40 122.7L502.6 457.4c12.5 12.5 12.5 32.8 0 45.3s-32.8 12.5-45.3 0L330.7 376c-34.4 25.2-76.8 40-122.7 40C93.1 416 0 322.9 0 208S93.1 0 208 0S416 93.1 416 208zM208 352a144 144 0 1 0 0-288 144 144 0 1 0 0 288z"/>
                        </svg>
                    </button>             
                    <input 
                    type="text" 
                    name="q" 
                    placeholder="Search orders by id, email " 
                    value="{{ request.GET.q|default:'' }}" />
                </div>           
            </form>
        </div>

        <div class="pagination-section">
            <ul class="pagination">
                {% if orders.has_previous %}
                <li class="prev_btn"><a href="?q={{ request.GET.q|urlencode }}&page={{ orders.previous_page_number }}">‹ Prev</a></li>
                {% else %}
                <li class="prev_btn disabled hidden"><span>‹ Prev</span></li>
                {% endif %}
        
                {% for page_num in orders.paginator.page_range %}
                {% if orders.number == page_num %}
                <li class="active"><a href="?q={{ request.GET.q|urlencode }}&page={{ page_num }}">{{ page_num }}</a></li>
                {% else %}
                <li><a href="?q={{ request.GET.q|urlencode }}&page={{ page_num }}">{{ page_num }}</a></li>
                {% endif %}
                {% endfor %}
        
                {% if orders.has_next %}
                <li class="next_btn"><a href="?q={{ request.GET.q|urlencode }}&page={{ orders.next_page_number }}">Next ›</a></li>
                {% else %}
                <li class="next_btn disabled hidden"><span>Next ›</span></li>
                {% endif %}
            </ul>
        </div>
        
    </div>

    <table>
        <thead>
            <tr>
                <th>Order ID</th>
                <th>User</th>
                <th>Services</th>
                <th>Price</th>
                <th>Date</th>
                <th>Time</th>
                <th>Order Status</th>
                <th>Terms Accepted</th>
                <th>Edit</th>
                <th>Documents</th>
            </tr>
        </thead>
        <tbody>
            {% for order in orders %}
            <tr>
                <td>{{ order.order_id }}</td>
                <td>{{ order.user.email }}</td>
                <td style="text-align: left;">{{ order.categoriesList}}</td>
                <td>{{ order.price }}</td>
                <td>{{ order.pick_date }}</td>
                <td>{{ order.pick_time }}</td>
                <td>{{order.order_status}}</td>
                <td>{{ order.terms_accepted|yesno:"Yes,No" }}</td>
                <td>
                        <a href="{% url 'edit_orders' order.id %}" class="edit_btn">Edit</a>
                    </td>
                <td>
                    
                    {% if order.document_set.exists %}
                    <a href="{% url 'download_order_files' order.id %}" class="btn btn-primary">
                        Download Files
                    </a>
                    {% else %}
                    {{ order.type }}
                    {% endif %}

                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

   
    
</div>
{% endblock %}