{% extends 'dashboard-base.html' %}
{% block title %}Edit User{% endblock %}
{% block content %}
<main>
            
    <div class="user_details_sec edit_service" bis_skin_checked="1">
    
        <div class="top_main_heading services_sec_top" bis_skin_checked="1">
            <div class="heading_breadcrumbs" bis_skin_checked="1">
                <h1>Add Pages</h1>
                <nav aria-label="Breadcrumb">
                    <ul class="breadcrumb">
                    <li><a href="/dashboard/">Dashboard</a></li>
                    <li><a href="/current-page">Pages</a></li>
                    </ul>
                </nav>
            </div>
            <div class="top_add_services" bis_skin_checked="1">
                <a class="cancel_edit_btn btn btn-secondary" href="/dashboard/pages">Back to List</a>
            </div>
        </div>
    
       
        <form method="POST" action="{% url 'page-add' %}" enctype="multipart/form-data">
            {% csrf_token %}

            <div class="form-group" bis_skin_checked="1">
                <label for="id_name">Page Name</label>
                <input type="text" name="name" id="id_name" value="" class="form-control">

            </div>

            <div class="form-group" bis_skin_checked="1">
                <label for="id_name">Page Heading</label>
                <input type="text" name="heading" id="id_heading" value="" class="form-control">

            </div>

            <div class="form-group description-custome" bis_skin_checked="1">
                <label for="id_name">Page description</label>
                <textarea name="content" id="editor">
                    &lt;p&gt;This is some sample content.&lt;/p&gt;
                </textarea>
                <script>
                    ClassicEditor
                        .create( document.querySelector( '#editor' ) )
                        .catch( error => {
                            console.error( error );
                        } );
                </script>
            </div>
            <div class="form-group description-custome" bis_skin_checked="1">
                <label for="id_name">Page Banner</label>
                <input type="file" id="myfile" name="myfile">

            </div>

            <div class="form-group description-custome" bis_skin_checked="1">
                <label for="id_name">Page meta Title</label>
                <input type="text" name="page_Title" id="id_page_Title" value="" class="form-control">

            </div>
            <div class="form-group description-custome" bis_skin_checked="1">
                <label for="id_name">Page meta description</label>
                <input type="text" name="Page_meta_description" id="id_Page_meta_description" value="" class="form-control">

            </div>
            <div class="form-group description-custome" bis_skin_checked="1">
                <label for="id_name">Page meta keywords</label>
                <input type="text" name="Page_meta_keywords" id="id_Page_meta_keywords" value="" class="form-control">

            </div>



            <button type="submit" class="btn btn-primary">Save</button>

        </form>
    </div>

            </main>
{% endblock %}