{% extends 'dashboard-base.html' %}
{% block title %}Edit User{% endblock %}
{% block content %}
<main>
            
    <div class="user_details_sec edit_service" bis_skin_checked="1">
    
        <div class="top_main_heading services_sec_top" bis_skin_checked="1">
            <div class="heading_breadcrumbs" bis_skin_checked="1">
                <h1>Add Section</h1>
                <nav aria-label="Breadcrumb">
                    <ul class="breadcrumb">
                    <li><a href="/dashboard/">Dashboard</a></li>
                    <li><a href="/current-page">Section</a></li>
                    </ul>
                </nav>
            </div>
            <div class="top_add_services" bis_skin_checked="1">
                <a class="cancel_edit_btn btn btn-secondary" href="/dashboard/section-list">Back to List</a>
            </div>
        </div>
    
       
        <form method="post" enctype="multipart/form-data">
            <input type="hidden" name="csrfmiddlewaretoken" value="TpXlv3Ser1S0SY3g0hM5IR5nX4BwgMCHYufQtpo4r3eV8FoSs3bv51Qpu9YzvKfm">
           
            <div class="form-group" bis_skin_checked="1">
                <label for="id_name">Section Name</label>
                <input type="text" name="name" id="id_name" value="" class="form-control">
                
            </div>
            <button type="submit" class="btn btn-primary">Save</button>
          
        </form>
    </div>
    
            </main>
{% endblock %}
