{% extends 'dashboard-base.html' %}
{% block title %}Edit User{% endblock %}
{% block content %}
<main>
            
    <div class="user_details_sec edit_service" bis_skin_checked="1">
    
        <div class="top_main_heading services_sec_top" bis_skin_checked="1">
            <div class="heading_breadcrumbs" bis_skin_checked="1">
                <h1>Add Section</h1>
                <nav aria-label="Breadcrumb">
                    <ul class="breadcrumb">
                    <li><a href="/dashboard/">Dashboard</a></li>
                    <li><a href="/current-page">Section</a></li>
                    </ul>
                </nav>
            </div>
            <div class="top_add_services" bis_skin_checked="1">
                <a class="cancel_edit_btn btn btn-secondary" href="/dashboard/section-list">Back to List</a>
            </div>
        </div>
    
       
        <form method="POST" action="{% url 'section_add' %}" enctype="multipart/form-data">
            {% csrf_token %}
             <div class="form-group description-custome" bis_skin_checked="1">
                <label for="id_name">Select Section </select></label>
                <select name="select_section" id="select_section_id">
                    {% for i in page %}
                    <option value="{{i.id}}">{{i.pageName}}</option>
                    {% endfor %}
                  </select>
            </div>
            <div class="form-group description-custome" bis_skin_checked="1">
                <label for="id_name">Section Name</label>
                <input type="text" name="sec_name" id="id_name" value="" class="form-control">

            </div>
            <button type="submit" class="btn btn-primary">Save</button>

        </form>
    </div>

            </main>
{% endblock %}