{% extends 'dashboard-base.html' %}
{% load static %}
{% block title %}Dashboard{% endblock %}
{% block content %}
    <div class="user_details_sec">
        <div class="top_main_heading">
            <h1>Users</h1>
            <nav aria-label="Breadcrumb">
                <ul class="breadcrumb">
                <li><a href="/dashboard/">Dashboard</a></li>
                <li><a href="/dashboard/user/">Users</a></li>
                </ul>
            </nav>
        </div>
        <div class="main_search_pagination">
            <div class="search_bar">
                <form method="get" action="">
                    <div class="inner_search_bar">
                        <button type="submit">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                                <path d="M416 208c0 45.9-14.9 88.3-40 122.7L502.6 457.4c12.5 12.5 12.5 32.8 0 45.3s-32.8 12.5-45.3 0L330.7 376c-34.4 25.2-76.8 40-122.7 40C93.1 416 0 322.9 0 208S93.1 0 208 0S416 93.1 416 208zM208 352a144 144 0 1 0 0-288 144 144 0 1 0 0 288z"/>
                            </svg>
                        </button>             
                        <input 
                        type="text" 
                        name="q" 
                        placeholder="Search users by name, email " 
                        value="{{ request.GET.q|default:'' }}" />
                    </div>           
                </form>
            </div>

            <div class="pagination-section">
                <ul class="pagination">
                    {% if users.has_previous %}
                    <li class="prev_btn"><a href="?q={{ request.GET.q|urlencode }}&page={{ orders.previous_page_number }}">‹ Prev</a></li>
                    {% else %}
                    <li class="prev_btn disabled hidden"><span>‹ Prev</span></li>
                    {% endif %}
            
                    {% for page_num in users.paginator.page_range %}
                    {% if users.number == page_num %}
                    <li class="active"><a href="?q={{ request.GET.q|urlencode }}&page={{ page_num }}">{{ page_num }}</a></li>
                    {% else %}
                    <li><a href="?q={{ request.GET.q|urlencode }}&page={{ page_num }}">{{ page_num }}</a></li>
                    {% endif %}
                    {% endfor %}
            
                    {% if users.has_next %}
                    <li class="next_btn"><a href="?q={{ request.GET.q|urlencode }}&page={{ orders.next_page_number }}">Next ›</a></li>
                    {% else %}
                    <li class="next_btn disabled hidden"><span>Next ›</span></li>
                    {% endif %}
                </ul>
            </div>
        </div>

        <table class="user_table">
            <thead>
                <tr>
                    <th>ID No</th>
                    <th>Profile Image</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Email</th>
                    <th>Phone Number</th>
                    <th>Role</th>
                    {% if request.user.is_superuser %}
                    <th>Actions</th>
                    {% endif %}
                </tr>
            </thead>
            <tbody>
                {% for user in users %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>
    {% if user.image %}
        <img src="{{ user.image.url }}" alt="Profile Image" style="max-width: 100px; max-height: 100px;">
    {% else %}
        <p>No image uploaded.</p>
    {% endif %}
</td>
                    <td>{{ user.first_name }}</td>
                    <td>{{ user.last_name }}</td>
                    <td>{{ user.email }}</td>
                    <td>{{ user.phone_number }}</td>
                    <td style="color: {% if user.is_superuser %}#a82064{% else %}black{% endif %};">
                        {{ user.is_superuser|yesno:"Administrator,User" }}
                    </td>
                    {% if request.user.is_superuser %}
                    <td>
                        <a href="{% url 'edit-user' user.id %}" class="edit_btn">Edit/View</a>
                    </td>
                    {% endif %}
                </tr>
                {% empty %}
                <tr>
                    <td colspan="7">No users found.</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
